### RiskCalc examples.
Make sure that the working directory for this ipynb notebook is ./risktables/risktables

___
The class ```RiskCalcs``` performs basic portfolio risk calculations.  It returns a dictionary, whose items are either instances of Pandas ```DataFrame``` or floating point values representing portfolio aggregate risk measurements (VaR, Greeks, etc).
___

In [1]:
RUN_RISK_SERVER = False
RUN_HISTORY_BUILDER = False

In [2]:
# include both the project package, and the project folder in sys.path
import sys,os
if  not './' in sys.path:
    sys.path.append(os.path.abspath('./'))
if  not '../' in sys.path:
    sys.path.append(os.path.abspath('../'))

from risktables import risk_tables
import pandas as pd
from IPython import display
import datetime
import financialmodelingprep as fprep
from risktables import build_history as bhist

/Users/bperlman1/Virtualenvs3/risktables/lib/python3.10/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

#### Create an instance of RiskCalcs

In [3]:
rt = risk_tables.RiskCalcs(use_postgres=False)

#### Create an example portfolio consisting of hypothetical options on the S&P 500 Sector Spdr's

In [4]:
next_year = (datetime.datetime.now() + datetime.timedelta(weeks=52)).year
next_year = str(next_year)
df_spdr_options =  pd.read_csv('spdr_stocks.csv')
df_spdr_options.symbol = df_spdr_options.symbol.apply(lambda s: s.replace('2021',next_year))
display.display(df_spdr_options)

               symbol  position
0   XLB_20231231_83_c       120
1   XLC_20231231_52_p       192
2   XLE_20231231_90_c       111
3   XLF_20231231_36_p       278
4  XLI_20231231_102_c        98
5  XLK_20231231_131_p        76
6   XLP_20231231_75_c       133
7   XLU_20231231_71_p       141
8  XLV_20231231_135_c        74
9  XLY_20231231_140_p        71

#### Run risk calculations
*Market data must be fetched for each underlying, which causes the cell below to take about 10 seconds to run*

In [5]:
rt = risk_tables.RiskCalcs(use_postgres=False)
risk_dictionary = rt.calculate(df_spdr_options)

2023-02-06 18:33:36,299 - root - INFO - Start computing VaR 2023-02-06 18:33:36.299746
2023-02-06 18:33:36,364 - urllib3.connectionpool - DEBUG - Starting new HTTPS connection (1): fred.stlouisfed.org:443
2023-02-06 18:33:36,679 - urllib3.connectionpool - DEBUG - https://fred.stlouisfed.org:443 "GET /graph/fredgraph.csv?id=DTB1YR HTTP/1.1" 200 58831
2023-02-06 18:33:36,727 - urllib3.connectionpool - DEBUG - Starting new HTTPS connection (1): query2.finance.yahoo.com:443
2023-02-06 18:33:36,850 - urllib3.connectionpool - DEBUG - https://query2.finance.yahoo.com:443 "GET /v8/finance/chart/XLY?period1=1668814416&period2=1675726416&interval=1d&includePrePost=False&events=div%2Csplits%2CcapitalGains HTTP/1.1" 200 2022

[*********************100%***********************]  1 of 1 completed

2023-02-06 18:33:36,902 - urllib3.connectionpool - DEBUG - Starting new HTTPS connection (1): query2.finance.yahoo.com:443
2023-02-06 18:33:37,017 - urllib3.connectionpool - DEBUG - https://query2.finance.yahoo.com:443 "GET /v8/finance/chart/XLP?period1=1668814416&period2=1675726416&interval=1d&includePrePost=False&events=div%2Csplits%2CcapitalGains HTTP/1.1" 200 1907

          open        high         low       close   volume  \
48  145.529999  148.699997  145.529999  148.699997  3487800
49  148.309998  152.710007  146.779999  151.520004  6956900
50  154.809998  158.029999  154.100006  156.160004  7019800
51  151.479996  154.949997  150.679993  151.350006  6796700
52  150.779999  152.050003  149.869995  151.130005  3813635

                        date
48 2023-01-31 00:00:00-05:00
49 2023-02-01 00:00:00-05:00
50 2023-02-02 00:00:00-05:00
51 2023-02-03 00:00:00-05:00
52 2023-02-06 00:00:00-05:00
[*********************100%***********************]  1 of 1 completed

2023-02-06 18:33:37,063 - urllib3.connectionpool - DEBUG - Starting new HTTPS connection (1): query2.finance.yahoo.com:443

         open       high        low      close    volume  \
48  73.089996  73.750000  72.870003  73.739998   8002700
49  73.680000  74.660004  73.360001  74.330002  15447600
50  73.830002  74.169998  73.360001  73.690002  12238800
51  73.910004  73.930000  72.860001  73.400002  12874100
52  73.279999  73.629997  73.230003  73.489998   6966370

                        date
48 2023-01-31 00:00:00-05:00
49 2023-02-01 00:00:00-05:00
50 2023-02-02 00:00:00-05:00
51 2023-02-03 00:00:00-05:00
52 2023-02-06 00:00:00-05:00

2023-02-06 18:33:37,203 - urllib3.connectionpool - DEBUG - https://query2.finance.yahoo.com:443 "GET /v8/finance/chart/XLF?period1=1668814416&period2=1675726416&interval=1d&includePrePost=False&events=div%2Csplits%2CcapitalGains HTTP/1.1" 200 1897

[*********************100%***********************]  1 of 1 completed

2023-02-06 18:33:37,242 - urllib3.connectionpool - DEBUG - Starting new HTTPS connection (1): query2.finance.yahoo.com:443

         open       high        low      close    volume  \
48  36.139999  36.570000  35.970001  36.560001  30282100
49  36.180000  36.880001  36.099998  36.560001  51418700
50  36.759998  36.810001  36.369999  36.660000  42107300
51  36.369999  36.900002  36.360001  36.590000  43146500
52  36.380001  36.590000  36.299999  36.580002  32262844

                        date
48 2023-01-31 00:00:00-05:00
49 2023-02-01 00:00:00-05:00
50 2023-02-02 00:00:00-05:00
51 2023-02-03 00:00:00-05:00
52 2023-02-06 00:00:00-05:00

2023-02-06 18:33:37,368 - urllib3.connectionpool - DEBUG - https://query2.finance.yahoo.com:443 "GET /v8/finance/chart/XLE?period1=1668814416&period2=1675726416&interval=1d&includePrePost=False&events=div%2Csplits%2CcapitalGains HTTP/1.1" 200 2000

[*********************100%***********************]  1 of 1 completed

2023-02-06 18:33:37,406 - urllib3.connectionpool - DEBUG - Starting new HTTPS connection (1): query2.finance.yahoo.com:443

         open       high        low      close    volume  \
48  88.839996  90.070000  87.930000  89.930000  13924100
49  89.510002  89.889999  87.000000  88.160004  23483600
50  87.820000  87.989998  85.199997  86.150002  24901500
51  86.510002  87.910004  85.870003  85.959999  22725500
52  86.040001  86.690002  84.514999  85.570000  14517328

                        date
48 2023-01-31 00:00:00-05:00
49 2023-02-01 00:00:00-05:00
50 2023-02-02 00:00:00-05:00
51 2023-02-03 00:00:00-05:00
52 2023-02-06 00:00:00-05:00

2023-02-06 18:33:37,518 - urllib3.connectionpool - DEBUG - https://query2.finance.yahoo.com:443 "GET /v8/finance/chart/XLK?period1=1668814416&period2=1675726416&interval=1d&includePrePost=False&events=div%2Csplits%2CcapitalGains HTTP/1.1" 200 2072

[*********************100%***********************]  1 of 1 completed

2023-02-06 18:33:37,563 - urllib3.connectionpool - DEBUG - Starting new HTTPS connection (1): query2.finance.yahoo.com:443

          open        high         low       close   volume  \
48  134.089996  136.020004  134.000000  135.960007  4435800
49  135.860001  140.270004  135.210007  139.160004  9426400
50  141.539993  143.759995  140.889999  142.960007  9412000
51  140.500000  144.089996  140.289993  141.770004  8072100
52  140.199997  141.300003  139.509995  140.039993  5218755

                        date
48 2023-01-31 00:00:00-05:00
49 2023-02-01 00:00:00-05:00
50 2023-02-02 00:00:00-05:00
51 2023-02-03 00:00:00-05:00
52 2023-02-06 00:00:00-05:00

2023-02-06 18:33:37,702 - urllib3.connectionpool - DEBUG - https://query2.finance.yahoo.com:443 "GET /v8/finance/chart/XLI?period1=1668814416&period2=1675726416&interval=1d&includePrePost=False&events=div%2Csplits%2CcapitalGains HTTP/1.1" 200 1988

[*********************100%***********************]  1 of 1 completed

2023-02-06 18:33:37,740 - urllib3.connectionpool - DEBUG - Starting new HTTPS connection (1): query2.finance.yahoo.com:443

          open        high         low       close    volume  \
48  100.449997  101.879997  100.089996  101.849998  10367500
49  101.440002  103.330002  100.980003  102.589996  16673700
50  102.970001  103.989998  102.330002  103.389999  13459800
51  102.720001  103.699997  102.580002  102.849998  13567600
52  102.349998  102.992302  102.184998  102.599998   8078078

                        date
48 2023-01-31 00:00:00-05:00
49 2023-02-01 00:00:00-05:00
50 2023-02-02 00:00:00-05:00
51 2023-02-03 00:00:00-05:00
52 2023-02-06 00:00:00-05:00

2023-02-06 18:33:37,864 - urllib3.connectionpool - DEBUG - https://query2.finance.yahoo.com:443 "GET /v8/finance/chart/XLB?period1=1668814416&period2=1675726416&interval=1d&includePrePost=False&events=div%2Csplits%2CcapitalGains HTTP/1.1" 200 1966

[*********************100%***********************]  1 of 1 completed

2023-02-06 18:33:37,899 - urllib3.connectionpool - DEBUG - Starting new HTTPS connection (1): query2.finance.yahoo.com:443

         open       high        low      close   volume  \
48  82.889999  84.680000  82.889999  84.650002  3871300
49  84.160004  85.900002  83.610001  85.209999  7223600
50  84.839996  85.190002  83.669998  84.940002  6163900
51  84.010002  84.680000  83.290001  83.410004  5937600
52  82.669998  83.000000  82.050003  82.489998  4504330

                        date
48 2023-01-31 00:00:00-05:00
49 2023-02-01 00:00:00-05:00
50 2023-02-02 00:00:00-05:00
51 2023-02-03 00:00:00-05:00
52 2023-02-06 00:00:00-05:00

2023-02-06 18:33:37,993 - urllib3.connectionpool - DEBUG - https://query2.finance.yahoo.com:443 "GET /v8/finance/chart/XLC?period1=1668814416&period2=1675726416&interval=1d&includePrePost=False&events=div%2Csplits%2CcapitalGains HTTP/1.1" 200 2064

[*********************100%***********************]  1 of 1 completed

2023-02-06 18:33:38,026 - urllib3.connectionpool - DEBUG - Starting new HTTPS connection (1): query2.finance.yahoo.com:443

         open       high        low      close   volume  \
48  54.430000  55.095001  54.430000  55.080002  4265500
49  54.689999  55.994999  54.299999  55.730000  7523200
50  58.450001  59.790001  58.125000  59.389999  9444700
51  58.020000  59.430000  58.009998  58.200001  7829200
52  57.520000  57.980000  57.169998  57.500000  5429940

                        date
48 2023-01-31 00:00:00-05:00
49 2023-02-01 00:00:00-05:00
50 2023-02-02 00:00:00-05:00
51 2023-02-03 00:00:00-05:00
52 2023-02-06 00:00:00-05:00

2023-02-06 18:33:38,155 - urllib3.connectionpool - DEBUG - https://query2.finance.yahoo.com:443 "GET /v8/finance/chart/XLU?period1=1668814416&period2=1675726416&interval=1d&includePrePost=False&events=div%2Csplits%2CcapitalGains HTTP/1.1" 200 1942

[*********************100%***********************]  1 of 1 completed

2023-02-06 18:33:38,193 - urllib3.connectionpool - DEBUG - Starting new HTTPS connection (1): query2.finance.yahoo.com:443

         open       high        low      close    volume  \
48  68.769997  69.110001  67.959999  69.089996   9721200
49  68.760002  69.699997  68.269997  69.209999  15472300
50  69.250000  70.129997  68.709999  69.360001  12498500
51  68.739998  69.010002  67.000000  67.910004  12679500
52  67.660004  68.544998  67.540001  68.489998  10703027

                        date
48 2023-01-31 00:00:00-05:00
49 2023-02-01 00:00:00-05:00
50 2023-02-02 00:00:00-05:00
51 2023-02-03 00:00:00-05:00
52 2023-02-06 00:00:00-05:00

2023-02-06 18:33:38,335 - urllib3.connectionpool - DEBUG - https://query2.finance.yahoo.com:443 "GET /v8/finance/chart/XLV?period1=1668814416&period2=1675726416&interval=1d&includePrePost=False&events=div%2Csplits%2CcapitalGains HTTP/1.1" 200 1943

[*********************100%***********************]  1 of 1 completed

2023-02-06 18:33:38,367 - urllib3.connectionpool - DEBUG - Starting new HTTPS connection (1): query2.finance.yahoo.com:443

          open        high         low       close    volume  \
48  131.960007  133.380005  131.830002  133.360001   6290600
49  133.360001  134.809998  132.360001  133.990005  11843000
50  133.009995  133.259995  132.130005  133.080002  11274600
51  133.169998  133.600006  132.250000  132.690002  10046600
52  132.500000  132.779999  131.770004  131.949997   7326413

                        date
48 2023-01-31 00:00:00-05:00
49 2023-02-01 00:00:00-05:00
50 2023-02-02 00:00:00-05:00
51 2023-02-03 00:00:00-05:00
52 2023-02-06 00:00:00-05:00

2023-02-06 18:33:38,501 - urllib3.connectionpool - DEBUG - https://query2.finance.yahoo.com:443 "GET /v8/finance/chart/SPY?period1=1668814416&period2=1675726416&interval=1d&includePrePost=False&events=div%2Csplits%2CcapitalGains HTTP/1.1" 200 2075

[*********************100%***********************]  1 of 1 completed

/Users/bperlman1/Documents/billybyte/pyliverisk/risktables/risktables/var_models.py:275: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  hl = (df_this.high-df_this.low).sort_values(ascending=False)[:5].mean()/df_this.close[-6:].mean()
/Users/bperlman1/Documents/billybyte/pyliverisk/risktables/risktables/var_models.py:277: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  h5 = (df_this.high.rolling(5).max() -df_this.low.rolling(5).min()).sort_values(ascending=False)[:5].mean()/df_this.close[-6:].mean()
/Users/bperlman1/Documents/billybyte/pyliverisk/risktables/risktables/var_models.py:279: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  h10 = (df_this.high.rolling(10).max() -df_this.low.rolling(10).min()).sort_values(ascending=False)[:10].mean()/df_this.close[-6:].mean()
/Users/bperlman1/Documents/billybyte/pyliverisk/risktables/risktables/var_models.py:281: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  h15 = (df_this.high.rolling(15).max() -df_this.low.rolling(15).min()).sort_values(ascending=False)[:10].mean()/df_this.close[-6:].mean()
/Users/bperlman1/Documents/billybyte/pyliverisk/risktables/risktables/var_models.py:283: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  h20 = (df_this.high.rolling(20).max() -df_this.low.rolling(20).min()).sort_values(ascending=False)[:10].mean()/df_this.close[-6:].mean()

entering update_delta_div
End computing VaR 2023-02-06 18:33:38.758545
leaving update_memory

#### List the names of the outputs

In [6]:
for k in risk_dictionary.keys():
    print(k)

yyyymmddhhmmssmmmmmm
df_std
df_atm_price
df_high_low
df_atm_info
df_risk_all
df_risk_by_underlying
df_var
port_var
sp_dollar_equiv
delta
gamma
vega
theta
df_hedge_ratios
df_corr
df_corr_price

#### Now show the actual values of each key

In [7]:
for k in risk_dictionary.keys():
    print(f'********************* {k} **************************')
    dict_item = risk_dictionary[k]
    object_to_print = dict_item
    if type(dict_item)==dict:
        if k[:2] == 'df':
            object_to_print = risk_tables.make_df(risk_dictionary[k])
    display.display(object_to_print)

********************* yyyymmddhhmmssmmmmmm **************************

'20230206183338758545'

********************* df_std **************************

      stdev underlying
6  0.206883        XLB
7  0.280402        XLC
3  0.270492        XLE
2  0.160111        XLF
5  0.174251        XLI
4  0.273252        XLK
1  0.140948        XLP
8  0.165698        XLU
9  0.134554        XLV
0  0.256674        XLY

********************* df_atm_price **************************

  underlying       close     stdev
0        XLB   82.489998  0.206883
1        XLC   57.500000  0.280402
2        XLE   85.570000  0.270492
3        XLF   36.580002  0.160111
4        XLI  102.599998  0.174251
5        XLK  140.039993  0.273252
6        XLP   73.489998  0.140948
7        XLU   68.489998  0.165698
8        XLV  131.949997  0.134554
9        XLY  151.130005  0.256674

********************* df_high_low **************************

  underlying        d1        d5       d10       d15       d20
0        XLY  0.036999  0.086474  0.121336  0.137189  0.160048
1        XLP  0.022500  0.049701  0.054660  0.061087  0.063179
2        XLF  0.026847  0.063337  0.070185  0.081499  0.088978
3        XLE  0.044008  0.090233  0.103955  0.114785  0.119426
4        XLK  0.037152  0.088017  0.110679  0.125643  0.140334
5        XLI  0.025079  0.056965  0.064418  0.067920  0.068565
6        XLB  0.027335  0.071662  0.086759  0.090680  0.094386
7        XLC  0.031883  0.092472  0.105721  0.124254  0.153792
8        XLU  0.028383  0.062379  0.067177  0.069591  0.072659
9        XLV  0.021418  0.049809  0.057076  0.060698  0.062084

********************* df_atm_info **************************

,underlying,close,stdev,d1,d5,d10,d15,d20
0,XLB,82.489998,0.206883,0.027335,0.071662,0.086759,0.090680,0.094386
1,XLC,57.500000,0.280402,0.031883,0.092472,0.105721,0.124254,0.153792
2,XLE,85.570000,0.270492,0.044008,0.090233,0.103955,0.114785,0.119426
3,XLF,36.580002,0.160111,0.026847,0.063337,0.070185,0.081499,0.088978
4,XLI,102.599998,0.174251,0.025079,0.056965,0.064418,0.067920,0.068565
5,XLK,140.039993,0.273252,0.037152,0.088017,0.110679,0.125643,0.140334
6,XLP,73.489998,0.140948,0.022500,0.049701,0.054660,0.061087,0.063179
7,XLU,68.489998,0.165698,0.028383,0.062379,0.067177,0.069591,0.072659
8,XLV,131.949997,0.134554,0.021418,0.049809,0.057076,0.060698,0.062084
9,XLY,151.130005,0.256674,0.036999,0.086474,0.121336,0.137189,0.160048

********************* df_risk_all **************************

,symbol,underlying,position,delta,gamma,vega,theta,rho,position_var
0,XLB_20231231_83_c,XLB,120.0,5760.132265,275.046809,3018.051505,116.957459,3686.716773,189.980880
1,XLC_20231231_52_p,XLC,192.0,-2234.543269,317.769655,1693.035972,35.004950,-1270.538008,-102.722106
2,XLE_20231231_90_c,XLE,111.0,4547.175900,259.545629,3064.584772,112.551094,3067.863739,211.685938
3,XLF_20231231_36_p,XLF,278.0,-3743.835610,615.076394,1327.094251,23.847599,-1385.461345,-70.589206
4,XLI_20231231_102_c,XLI,98.0,6125.883553,220.815435,3748.234373,147.778820,4853.297557,171.077937
5,XLK_20231231_131_p,XLK,76.0,-2797.418038,145.502527,4599.573172,90.907811,-3906.137401,-112.586342
6,XLP_20231231_75_c,XLP,133.0,5367.664890,309.061411,2691.707012,102.373095,3077.283073,123.670672
7,XLU_20231231_71_p,XLU,141.0,-4706.501299,329.996536,2496.257637,38.296312,-3319.704933,-99.055490
8,XLV_20231231_135_c,XLV,74.0,5305.175939,172.253910,4836.320031,183.358402,5465.969182,116.811974
9,XLY_20231231_140_p,XLY,71.0,-2623.397955,130.858353,4817.377672,96.575693,-3943.358417,-98.955723

********************* df_risk_by_underlying **************************

,underlying,delta,gamma,vega,theta,rho,position_var
0,XLB,5760.132265,275.046809,3018.051505,116.957459,3686.716773,189.980880
1,XLC,-2234.543269,317.769655,1693.035972,35.004950,-1270.538008,-102.722106
2,XLE,4547.175900,259.545629,3064.584772,112.551094,3067.863739,211.685938
3,XLF,-3743.835610,615.076394,1327.094251,23.847599,-1385.461345,-70.589206
4,XLI,6125.883553,220.815435,3748.234373,147.778820,4853.297557,171.077937
5,XLK,-2797.418038,145.502527,4599.573172,90.907811,-3906.137401,-112.586342
6,XLP,5367.664890,309.061411,2691.707012,102.373095,3077.283073,123.670672
7,XLU,-4706.501299,329.996536,2496.257637,38.296312,-3319.704933,-99.055490
8,XLV,5305.175939,172.253910,4836.320031,183.358402,5465.969182,116.811974
9,XLY,-2623.397955,130.858353,4817.377672,96.575693,-3943.358417,-98.955723

********************* df_var **************************

               symbol  position  position_var
0   XLB_20231231_83_c     120.0    189.980880
1   XLC_20231231_52_p     192.0   -102.722106
2   XLE_20231231_90_c     111.0    211.685938
3   XLF_20231231_36_p     278.0    -70.589206
4  XLI_20231231_102_c      98.0    171.077937
5  XLK_20231231_131_p      76.0   -112.586342
6   XLP_20231231_75_c     133.0    123.670672
7   XLU_20231231_71_p     141.0    -99.055490
8  XLV_20231231_135_c      74.0    116.811974
9  XLY_20231231_140_p      71.0    -98.955723

********************* port_var **************************

406.8770309620042

********************* sp_dollar_equiv **************************

17489.94789224121

********************* delta **************************

11000.336375035742

********************* gamma **************************

2775.926659754725

********************* vega **************************

32292.23639691805

********************* theta **************************

947.6512350744018

********************* df_hedge_ratios **************************

Empty DataFrame
Columns: []
Index: []

********************* df_corr **************************

,*underlying,XLB,XLC,XLE,XLF,XLI,XLK,XLP,XLU,XLV,XLY
XLB,XLB,1.000000,0.677773,0.524984,0.851617,0.867923,0.795408,0.746153,0.703380,0.734154,0.718805
XLC,XLC,0.677773,1.000000,0.308552,0.667600,0.679943,0.818891,0.387075,0.459065,0.517033,0.783124
XLE,XLE,0.524984,0.308552,1.000000,0.534434,0.492786,0.436725,0.378457,0.323325,0.476004,0.327044
XLF,XLF,0.851617,0.667600,0.534434,1.000000,0.892656,0.763955,0.755669,0.678096,0.713794,0.733342
XLI,XLI,0.867923,0.679943,0.492786,0.892656,1.000000,0.818770,0.787311,0.745393,0.728650,0.744387
XLK,XLK,0.795408,0.818891,0.436725,0.763955,0.818770,1.000000,0.611125,0.671854,0.694483,0.858322
XLP,XLP,0.746153,0.387075,0.378457,0.755669,0.787311,0.611125,1.000000,0.741198,0.769582,0.512869
XLU,XLU,0.703380,0.459065,0.323325,0.678096,0.745393,0.671854,0.741198,1.000000,0.642891,0.616816
XLV,XLV,0.734154,0.517033,0.476004,0.713794,0.728650,0.694483,0.769582,0.642891,1.000000,0.584323
XLY,XLY,0.718805,0.783124,0.327044,0.733342,0.744387,0.858322,0.512869,0.616816,0.584323,1.000000

********************* df_corr_price **************************

,*underlying,XLB,XLC,XLE,XLF,XLI,XLK,XLP,XLU,XLV,XLY
XLB,XLB,1.000000,0.863234,0.519879,0.878300,0.861844,0.840733,-0.193209,-0.198108,-0.192854,0.855899
XLC,XLC,0.863234,1.000000,0.390169,0.874966,0.797457,0.823207,-0.472775,-0.449383,-0.481206,0.842606
XLE,XLE,0.519879,0.390169,1.000000,0.657230,0.405473,0.341888,-0.231903,-0.310846,-0.328200,0.376721
XLF,XLF,0.878300,0.874966,0.657230,1.000000,0.877171,0.765217,-0.234455,-0.346516,-0.378385,0.826232
XLI,XLI,0.861844,0.797457,0.405473,0.877171,1.000000,0.747529,0.038785,0.008134,-0.117922,0.764222
XLK,XLK,0.840733,0.823207,0.341888,0.765217,0.747529,1.000000,-0.117010,-0.391016,-0.107500,0.965138
XLP,XLP,-0.193209,-0.472775,-0.231903,-0.234455,0.038785,-0.117010,1.000000,0.641503,0.846133,-0.136530
XLU,XLU,-0.198108,-0.449383,-0.310846,-0.346516,0.008134,-0.391016,0.641503,1.000000,0.650069,-0.445501
XLV,XLV,-0.192854,-0.481206,-0.328200,-0.378385,-0.117922,-0.107500,0.846133,0.650069,1.000000,-0.175233
XLY,XLY,0.855899,0.842606,0.376721,0.826232,0.764222,0.965138,-0.136530,-0.445501,-0.175233,1.000000

### Run the risk server on a specific port using uvicorn
1. Run the 2 cells below
2. To see an example VaR output, in a browser's address bar enter:
  * if the port is 8556: `http://localhost:8556/get_var
3. To see an example of getting risk information for the example portfolio in spdr_stocks..csv:
  * if the port is 8556: `http://localhost:8556/get_risk

In [8]:
port_num = 8556
if RUN_RISK_SERVER:
    !uvicorn risk_server:app --port {port_num} --reload

### Show basic usage of `build_history.HistoryBuilder()`
`build_history.HistoryBuilder` has a member method `build_history_dict()`, which will create a python dictionary of daily historical values from various sources.  The default source is `yfinance` (yahoo finance)

In [9]:
if RUN_HISTORY_BUILDER:   
    hist_builder = bhist.HistoryBuilder()
    hist_dict = hist_builder.build_history_dict()

### Show how to access the redis server, and retrieve objects from it like pandas DataFrames

In [10]:
import redis
import pyarrow as pa
redis_port = 6379
redis_db = redis.Redis(host = 'localhost',port=redis_port,db=0)

In [11]:
def get_redis_df(key):
    context = pa.default_serialization_context()#@UndefinedVariable 
    df = context.deserialize(redis_db.get(key))
    return df

In [12]:
sorted(redis_db.keys())
dfs = get_redis_df('AAPL_csv')

/var/folders/fl/tvtrn4x93cx6s2vpm9b7gn0w0000gn/T/ipykernel_56224/1421278571.py:2: FutureWarning: 'pyarrow.default_serialization_context' is deprecated as of 2.0.0 and will be removed in a future version. Use pickle or the pyarrow IPC functionality instead.
  context = pa.default_serialization_context()#@UndefinedVariable
/Users/bperlman1/Virtualenvs3/risktables/lib/python3.10/site-packages/IPython/core/interactiveshell.py:3442: FutureWarning: 'pyarrow.deserialize' is deprecated as of 2.0.0 and will be removed in a future version. Use pickle or the pyarrow IPC functionality instead.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [13]:
dfs

,settle_date,open,high,low,close,volume,date
0,20180205,39.775002,40.970001,39.000000,39.122501,290954000,2018-02-05 00:00:00-05:00
1,20180206,38.707500,40.930000,38.500000,40.757500,272975200,2018-02-06 00:00:00-05:00
2,20180207,40.772499,40.849998,39.767502,39.884998,206434400,2018-02-07 00:00:00-05:00
3,20180208,40.072498,40.250000,38.757500,38.787498,217562000,2018-02-08 00:00:00-05:00
4,20180209,39.267502,39.472500,37.560001,39.102501,282690400,2018-02-09 00:00:00-05:00
...,...,...,...,...,...,...,...
1254,20230130,144.960007,145.550003,142.850006,143.000000,64015300,2023-01-30 00:00:00-05:00
1255,20230131,142.699997,144.339996,142.279999,144.289993,65874500,2023-01-31 00:00:00-05:00
1256,20230201,143.970001,146.610001,141.320007,145.429993,77663600,2023-02-01 00:00:00-05:00
1257,20230202,148.899994,151.179993,148.169998,150.820007,118339000,2023-02-02 00:00:00-05:00
1258,20230203,148.029999,157.380005,147.830002,154.500000,154279900,2023-02-03 00:00:00-05:00

### Show an example financialmodelprep api

In [14]:
stocks = [v.lower() for v in ['SPY','IBM','TSLA']]
dfp = fprep.fmp_profile(stocks)
dfr = fprep.fmp_ratios(stocks)
display.display(dfp)
display.display(dfr)

2023-02-06 18:33:39,101 - urllib3.connectionpool - DEBUG - Starting new HTTPS connection (1): financialmodelingprep.com:443
2023-02-06 18:33:39,247 - urllib3.connectionpool - DEBUG - https://financialmodelingprep.com:443 "GET /api/v3/profile/spy,ibm,tsla?apikey=5959d0222350b6d05dbfe64794b6f093 HTTP/1.1" 200 None
2023-02-06 18:33:39,270 - urllib3.connectionpool - DEBUG - Starting new HTTPS connection (1): financialmodelingprep.com:443
2023-02-06 18:33:39,461 - urllib3.connectionpool - DEBUG - https://financialmodelingprep.com:443 "GET /api/v3/ratios-ttm/spy?apikey=5959d0222350b6d05dbfe64794b6f093 HTTP/1.1" 200 None
2023-02-06 18:33:39,475 - urllib3.connectionpool - DEBUG - Starting new HTTPS connection (1): financialmodelingprep.com:443
2023-02-06 18:33:39,625 - urllib3.connectionpool - DEBUG - https://financialmodelingprep.com:443 "GET /api/v3/ratios-ttm/ibm?apikey=5959d0222350b6d05dbfe64794b6f093 HTTP/1.1" 200 None
2023-02-06 18:33:39,642 - urllib3.connectionpool - DEBUG - Starting new HTTPS connection (1): financialmodelingprep.com:443
2023-02-06 18:33:39,870 - urllib3.connectionpool - DEBUG - https://financialmodelingprep.com:443 "GET /api/v3/ratios-ttm/tsla?apikey=5959d0222350b6d05dbfe64794b6f093 HTTP/1.1" 200 None

,symbol,price,beta,volAvg,mktCap,lastDiv,range,changes,companyName,currency,...,zip,dcfDiff,dcf,image,ipoDate,defaultImage,isEtf,isActivelyTrading,isAdr,isFund
0,IBM,136.18,0.881060,4645519,122060857600,6.59,115.55-153.21,-0.76,International Business Machines Corporation,USD,...,10504,19.641,154.031,https://financialmodelingprep.com/image-stock/...,1915-11-11,False,False,True,False,False
0,SPY,409.83,1.000000,81173834,376134612634,6.32,348.11-462.07,-2.52,SPDR S&P 500 ETF Trust,USD,...,None,None,0.000,https://financialmodelingprep.com/image-stock/...,1993-01-22,False,True,True,False,False
0,TSLA,194.76,2.030345,149288059,615003393116,0.00,101.81-384.29,4.78,"Tesla, Inc.",USD,...,78725,3.73173,181.632,https://financialmodelingprep.com/image-stock/...,2010-06-29,False,False,True,False,False

,symbol,dividendYielTTM,dividendYielPercentageTTM,peRatioTTM,pegRatioTTM,payoutRatioTTM,currentRatioTTM,quickRatioTTM,cashRatioTTM,daysOfSalesOutstandingTTM,...,priceEarningsRatioTTM,priceToFreeCashFlowsRatioTTM,priceToOperatingCashFlowsRatioTTM,priceCashFlowRatioTTM,priceEarningsToGrowthRatioTTM,priceSalesRatioTTM,dividendYieldTTM,enterpriseValueMultipleTTM,priceFairValueTTM,dividendPerShareTTM
0,spy,0.015421,1.542103,22.237112,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.32
0,ibm,0.048392,4.839183,22.364918,63.414993,4.724837,0.951848,0.731209,0.256548,98.486528,...,97.637064,17.596161,13.658791,13.658791,63.414993,2.614186,0.048392,27.265894,6.132713,6.59
0,tsla,0.000000,0.000000,53.358902,41.227307,0.000000,1.531956,0.941143,0.608521,13.226781,...,45.882453,76.193636,39.126601,39.126601,41.227307,7.072010,None,31.938391,12.886992,0.00

In [15]:
# the 'ratios-ttm' route only allows you to get one stock at a time
stk = 'spy'
ratios_json = fprep.get_fmp_json([stk],'ratios-ttm')
display.display(pd.json_normalize(ratios_json))

2023-02-06 18:33:39,929 - urllib3.connectionpool - DEBUG - Starting new HTTPS connection (1): financialmodelingprep.com:443
2023-02-06 18:33:40,100 - urllib3.connectionpool - DEBUG - https://financialmodelingprep.com:443 "GET /api/v3/ratios-ttm/spy?apikey=5959d0222350b6d05dbfe64794b6f093 HTTP/1.1" 200 None

,dividendYielTTM,dividendYielPercentageTTM,peRatioTTM,pegRatioTTM,payoutRatioTTM,currentRatioTTM,quickRatioTTM,cashRatioTTM,daysOfSalesOutstandingTTM,daysOfInventoryOutstandingTTM,...,priceEarningsRatioTTM,priceToFreeCashFlowsRatioTTM,priceToOperatingCashFlowsRatioTTM,priceCashFlowRatioTTM,priceEarningsToGrowthRatioTTM,priceSalesRatioTTM,dividendYieldTTM,enterpriseValueMultipleTTM,priceFairValueTTM,dividendPerShareTTM
0,0.015421,1.542103,22.237112,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,6.32

In [16]:
stk = 'spy'
ratios_json = fprep.get_fmp_json([stk],'quote')
display.display(pd.json_normalize(ratios_json))

2023-02-06 18:33:40,144 - urllib3.connectionpool - DEBUG - Starting new HTTPS connection (1): financialmodelingprep.com:443
2023-02-06 18:33:40,300 - urllib3.connectionpool - DEBUG - https://financialmodelingprep.com:443 "GET /api/v3/quote/spy?apikey=5959d0222350b6d05dbfe64794b6f093 HTTP/1.1" 200 None

,symbol,name,price,changesPercentage,change,dayLow,dayHigh,yearHigh,yearLow,marketCap,...,exchange,volume,avgVolume,open,previousClose,eps,pe,earningsAnnouncement,sharesOutstanding,timestamp
0,SPY,SPDR S&P 500 ETF Trust,409.83,-0.6111,-2.52,408.1,411.29,462.07,348.11,376134612634,...,AMEX,59865621,81173834,409.79,412.35,0,None,None,917782038,1675717201

In [17]:
dfp.merge(dfr,on='symbol',how='left')

,symbol,price,beta,volAvg,mktCap,lastDiv,range,changes,companyName,currency,...,priceEarningsRatioTTM,priceToFreeCashFlowsRatioTTM,priceToOperatingCashFlowsRatioTTM,priceCashFlowRatioTTM,priceEarningsToGrowthRatioTTM,priceSalesRatioTTM,dividendYieldTTM,enterpriseValueMultipleTTM,priceFairValueTTM,dividendPerShareTTM
0,IBM,136.18,0.881060,4645519,122060857600,6.59,115.55-153.21,-0.76,International Business Machines Corporation,USD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SPY,409.83,1.000000,81173834,376134612634,6.32,348.11-462.07,-2.52,SPDR S&P 500 ETF Trust,USD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TSLA,194.76,2.030345,149288059,615003393116,0.00,101.81-384.29,4.78,"Tesla, Inc.",USD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
risk_dictionary.keys()

dict_keys(['yyyymmddhhmmssmmmmmm', 'df_std', 'df_atm_price', 'df_high_low', 'df_atm_info', 'df_risk_all', 'df_risk_by_underlying', 'df_var', 'port_var', 'sp_dollar_equiv', 'delta', 'gamma', 'vega', 'theta', 'df_hedge_ratios', 'df_corr', 'df_corr_price'])

In [19]:
pd.DataFrame(risk_dictionary['df_corr'])

,*underlying,XLB,XLC,XLE,XLF,XLI,XLK,XLP,XLU,XLV,XLY
XLB,XLB,1.000000,0.677773,0.524984,0.851617,0.867923,0.795408,0.746153,0.703380,0.734154,0.718805
XLC,XLC,0.677773,1.000000,0.308552,0.667600,0.679943,0.818891,0.387075,0.459065,0.517033,0.783124
XLE,XLE,0.524984,0.308552,1.000000,0.534434,0.492786,0.436725,0.378457,0.323325,0.476004,0.327044
XLF,XLF,0.851617,0.667600,0.534434,1.000000,0.892656,0.763955,0.755669,0.678096,0.713794,0.733342
XLI,XLI,0.867923,0.679943,0.492786,0.892656,1.000000,0.818770,0.787311,0.745393,0.728650,0.744387
XLK,XLK,0.795408,0.818891,0.436725,0.763955,0.818770,1.000000,0.611125,0.671854,0.694483,0.858322
XLP,XLP,0.746153,0.387075,0.378457,0.755669,0.787311,0.611125,1.000000,0.741198,0.769582,0.512869
XLU,XLU,0.703380,0.459065,0.323325,0.678096,0.745393,0.671854,0.741198,1.000000,0.642891,0.616816
XLV,XLV,0.734154,0.517033,0.476004,0.713794,0.728650,0.694483,0.769582,0.642891,1.000000,0.584323
XLY,XLY,0.718805,0.783124,0.327044,0.733342,0.744387,0.858322,0.512869,0.616816,0.584323,1.000000