### RiskCalc examples.
Make sure that the working directory for this ipynb notebook is ./risktables/risktables

___
The class ```RiskCalcs``` performs basic portfolio risk calculations.  It returns a dictionary, whose items are either instances of Pandas ```DataFrame``` or floating point values representing portfolio aggregate risk measurements (VaR, Greeks, etc).
___

In [1]:
RUN_RISK_SERVER = False
RUN_HISTORY_BUILDER = False

In [2]:
# include both the project package, and the project folder in sys.path
import sys,os
if  not './' in sys.path:
    sys.path.append(os.path.abspath('./'))
if  not '../' in sys.path:
    sys.path.append(os.path.abspath('../'))

from risktables import risk_tables
import pandas as pd
from IPython import display
import datetime
import financialmodelingprep as fprep
from risktables import build_history as bhist

/Users/bperlman1/Virtualenvs3/risktables/lib/python3.10/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
/Users/bperlman1/Documents/billybyte/pyliverisk/risktables/risktables/dgrid_components.py:17: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html
/Users/bperlman1/Documents/billybyte/pyliverisk/risktables/risktables/dgrid_components.py:18: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
/Users/bperlman1/Documents/billybyte/pyliverisk/risktables/risktables/dgrid_components.py:21: UserWarning:
The dash_table package is deprecated. Please replace
`import dash_table` with `from dash import dash_table`

Also, if you're using any of the table format helpers (e.g. Group), replace
`from dash_table.Format import Group` with
`from dash.dash_table.Format import Group`
  import dash_table

#### Create an instance of RiskCalcs

In [3]:
rt = risk_tables.RiskCalcs(use_postgres=False)

#### Create an example portfolio consisting of hypothetical options on the S&P 500 Sector Spdr's

In [4]:
next_year = (datetime.datetime.now() + datetime.timedelta(weeks=52)).year
next_year = str(next_year)
df_spdr_options =  pd.read_csv('spdr_stocks.csv')
df_spdr_options.symbol = df_spdr_options.symbol.apply(lambda s: s.replace('2021',next_year))
display.display(df_spdr_options)

               symbol  position
0   XLB_20231231_83_c       120
1   XLC_20231231_52_p       192
2   XLE_20231231_90_c       111
3   XLF_20231231_36_p       278
4  XLI_20231231_102_c        98
5  XLK_20231231_131_p        76
6   XLP_20231231_75_c       133
7   XLU_20231231_71_p       141
8  XLV_20231231_135_c        74
9  XLY_20231231_140_p        71

#### Run risk calculations
*Market data must be fetched for each underlying, which causes the cell below to take about 10 seconds to run*

In [5]:
rt = risk_tables.RiskCalcs(use_postgres=False)
risk_dictionary = rt.calculate(df_spdr_options)

2023-02-04 14:04:32,800 - root - INFO - Start computing VaR 2023-02-04 14:04:32.800852

[*********************100%***********************]  1 of 1 completed
         open       high        low      close    volume  \
49  36.060001  36.330002  36.009998  36.070000  31595000
50  36.139999  36.570000  35.970001  36.560001  30282100
51  36.180000  36.880001  36.099998  36.560001  51418700
52  36.759998  36.810001  36.369999  36.660000  42107300
53  36.369999  36.900002  36.360001  36.590000  43146500

                        date
49 2023-01-30 00:00:00-05:00
50 2023-01-31 00:00:00-05:00
51 2023-02-01 00:00:00-05:00
52 2023-02-02 00:00:00-05:00
53 2023-02-03 00:00:00-05:00
[*********************100%***********************]  1 of 1 completed
          open        high         low       close    volume  \
49  100.510002  101.489998  100.070000  100.150002  10057900
50  100.449997  101.879997  100.089996  101.849998  10367500
51  101.440002  103.330002  100.980003  102.589996  16673700
52  102.970001  103.989998  102.330002  103.389999  13459800
53  102.720001  103.699997  102.580002  102.849998  13567600

                        date
49 2023-01-30 00:00:00-05:00
50 2023-01-31 00:00:00-05:00
51 2023-02-01 00:00:00-05:00
52 2023-02-02 00:00:00-05:00
53 2023-02-03 00:00:00-05:00
[*********************100%***********************]  1 of 1 completed
         open       high        low      close   volume  \
49  54.740002  55.115002  54.389999  54.419998  3857100
50  54.430000  55.095001  54.430000  55.080002  4265500
51  54.689999  55.994999  54.299999  55.730000  7523200
52  58.450001  59.790001  58.125000  59.389999  9444700
53  58.020000  59.430000  58.009998  58.200001  7829200

                        date
49 2023-01-30 00:00:00-05:00
50 2023-01-31 00:00:00-05:00
51 2023-02-01 00:00:00-05:00
52 2023-02-02 00:00:00-05:00
53 2023-02-03 00:00:00-05:00
[*********************100%***********************]  1 of 1 completed
         open       high        low      close    volume  \
49  68.639999  69.360001  68.529999  68.580002   7780500
50  68.769997  69.110001  67.959999  69.089996   9721200
51  68.760002  69.699997  68.269997  69.209999  15472300
52  69.250000  70.129997  68.709999  69.360001  12498500
53  68.739998  69.010002  67.000000  67.910004  12679500

                        date
49 2023-01-30 00:00:00-05:00
50 2023-01-31 00:00:00-05:00
51 2023-02-01 00:00:00-05:00
52 2023-02-02 00:00:00-05:00
53 2023-02-03 00:00:00-05:00
[*********************100%***********************]  1 of 1 completed
          open        high         low       close   volume  \
49  135.130005  135.720001  133.979996  134.089996  4852800
50  134.089996  136.020004  134.000000  135.960007  4435800
51  135.860001  140.270004  135.210007  139.160004  9426400
52  141.539993  143.759995  140.889999  142.960007  9412000
53  140.500000  144.089996  140.289993  141.770004  8072100

                        date
49 2023-01-30 00:00:00-05:00
50 2023-01-31 00:00:00-05:00
51 2023-02-01 00:00:00-05:00
52 2023-02-02 00:00:00-05:00
53 2023-02-03 00:00:00-05:00
[*********************100%***********************]  1 of 1 completed
         open       high        low      close    volume  \
49  72.709999  73.500000  72.709999  72.949997  10463100
50  73.089996  73.750000  72.870003  73.739998   8002700
51  73.680000  74.660004  73.360001  74.330002  15447600
52  73.830002  74.169998  73.360001  73.690002  12238800
53  73.910004  73.930000  72.860001  73.400002  12874100

                        date
49 2023-01-30 00:00:00-05:00
50 2023-01-31 00:00:00-05:00
51 2023-02-01 00:00:00-05:00
52 2023-02-02 00:00:00-05:00
53 2023-02-03 00:00:00-05:00
[*********************100%***********************]  1 of 1 completed
          open        high         low       close   volume  \
49  146.779999  147.750000  145.250000  145.369995  4789200
50  145.529999  148.699997  145.529999  148.699997  3487800
51  148.309998  152.710007  146.779999  151.520004  6956900
52  154.809998  158.029999  154.100006  156.160004  7019800
53  151.479996  154.949997  150.679993  151.350006  6796700

                        date
49 2023-01-30 00:00:00-05:00
50 2023-01-31 00:00:00-05:00
51 2023-02-01 00:00:00-05:00
52 2023-02-02 00:00:00-05:00
53 2023-02-03 00:00:00-05:00
[*********************100%***********************]  1 of 1 completed
         open       high        low      close    volume  \
49  90.570000  90.699997  89.019997  89.139999  13762500
50  88.839996  90.070000  87.930000  89.930000  13924100
51  89.510002  89.889999  87.000000  88.160004  23483600
52  87.820000  87.989998  85.199997  86.150002  24901500
53  86.510002  87.910004  85.870003  85.959999  22725500

                        date
49 2023-01-30 00:00:00-05:00
50 2023-01-31 00:00:00-05:00
51 2023-02-01 00:00:00-05:00
52 2023-02-02 00:00:00-05:00
53 2023-02-03 00:00:00-05:00
[*********************100%***********************]  1 of 1 completed
         open       high        low      close   volume  \
49  82.889999  83.879997  82.720001  82.830002  5210700
50  82.889999  84.680000  82.889999  84.650002  3871300
51  84.160004  85.900002  83.610001  85.209999  7223600
52  84.839996  85.190002  83.669998  84.940002  6163900
53  84.010002  84.680000  83.290001  83.410004  5937600

                        date
49 2023-01-30 00:00:00-05:00
50 2023-01-31 00:00:00-05:00
51 2023-02-01 00:00:00-05:00
52 2023-02-02 00:00:00-05:00
53 2023-02-03 00:00:00-05:00
[*********************100%***********************]  1 of 1 completed
          open        high         low       close    volume  \
49  132.610001  133.440002  131.460007  131.660004   7055400
50  131.960007  133.380005  131.830002  133.360001   6290600
51  133.360001  134.809998  132.360001  133.990005  11843000
52  133.009995  133.259995  132.130005  133.080002  11274600
53  133.169998  133.600006  132.250000  132.690002  10046600

                        date
49 2023-01-30 00:00:00-05:00
50 2023-01-31 00:00:00-05:00
51 2023-02-01 00:00:00-05:00
52 2023-02-02 00:00:00-05:00
53 2023-02-03 00:00:00-05:00
[*********************100%***********************]  1 of 1 completed
entering update_delta_div
End computing VaR 2023-02-04 14:04:35.042142
leaving update_memory

/Users/bperlman1/Documents/billybyte/pyliverisk/risktables/risktables/var_models.py:275: FutureWarning:

The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.

/Users/bperlman1/Documents/billybyte/pyliverisk/risktables/risktables/var_models.py:277: FutureWarning:

The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.

/Users/bperlman1/Documents/billybyte/pyliverisk/risktables/risktables/var_models.py:279: FutureWarning:

The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.

/Users/bperlman1/Documents/billybyte/pyliverisk/risktables/risktables/var_models.py:281: FutureWarning:

The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.

/Users/bperlman1/Documents/billybyte/pyliverisk/risktables/risktables/var_models.py:283: FutureWarning:

The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.

#### List the names of the outputs

In [6]:
for k in risk_dictionary.keys():
    print(k)

yyyymmddhhmmssmmmmmm
df_std
df_atm_price
df_high_low
df_atm_info
df_risk_all
df_risk_by_underlying
df_var
port_var
sp_dollar_equiv
delta
gamma
vega
theta
df_hedge_ratios
df_corr
df_corr_price

#### Now show the actual values of each key

In [7]:
for k in risk_dictionary.keys():
    print(f'********************* {k} **************************')
    dict_item = risk_dictionary[k]
    object_to_print = dict_item
    if type(dict_item)==dict:
        if k[:2] == 'df':
            object_to_print = risk_tables.make_df(risk_dictionary[k])
    display.display(object_to_print)

********************* yyyymmddhhmmssmmmmmm **************************

'20230204140435042142'

********************* df_std **************************

      stdev underlying
8  0.204904        XLB
3  0.277007        XLC
9  0.268293        XLE
0  0.159996        XLF
1  0.173124        XLI
5  0.268912        XLK
6  0.141577        XLP
4  0.174046        XLU
2  0.135437        XLV
7  0.255887        XLY

********************* df_atm_price **************************

  underlying       close     stdev
0        XLB   83.410004  0.204904
1        XLC   58.200001  0.277007
2        XLE   85.959999  0.268293
3        XLF   36.590000  0.159996
4        XLI  102.849998  0.173124
5        XLK  141.770004  0.268912
6        XLP   73.400002  0.141577
7        XLU   67.910004  0.174046
8        XLV  132.690002  0.135437
9        XLY  151.350006  0.255887

********************* df_high_low **************************

  underlying        d1        d5       d10       d15       d20
0        XLF  0.026887  0.063432  0.070291  0.081622  0.089113
1        XLI  0.025138  0.057101  0.064572  0.068082  0.068729
2        XLC  0.032091  0.088853  0.104158  0.119494  0.150232
3        XLU  0.028356  0.062318  0.068637  0.071252  0.077484
4        XLK  0.037301  0.088370  0.110792  0.126149  0.140285
5        XLP  0.022532  0.049772  0.055119  0.061174  0.063270
6        XLY  0.037133  0.085346  0.117917  0.134785  0.157214
7        XLE  0.043538  0.089270  0.102750  0.113900  0.119735
8        XLB  0.027286  0.071533  0.086603  0.090516  0.094215
9        XLV  0.021393  0.049752  0.058914  0.060990  0.064796

********************* df_atm_info **************************

,underlying,close,stdev,d1,d5,d10,d15,d20
0,XLB,83.410004,0.204904,0.027286,0.071533,0.086603,0.090516,0.094215
1,XLC,58.200001,0.277007,0.032091,0.088853,0.104158,0.119494,0.150232
2,XLE,85.959999,0.268293,0.043538,0.089270,0.102750,0.113900,0.119735
3,XLF,36.590000,0.159996,0.026887,0.063432,0.070291,0.081622,0.089113
4,XLI,102.849998,0.173124,0.025138,0.057101,0.064572,0.068082,0.068729
5,XLK,141.770004,0.268912,0.037301,0.088370,0.110792,0.126149,0.140285
6,XLP,73.400002,0.141577,0.022532,0.049772,0.055119,0.061174,0.063270
7,XLU,67.910004,0.174046,0.028356,0.062318,0.068637,0.071252,0.077484
8,XLV,132.690002,0.135437,0.021393,0.049752,0.058914,0.060990,0.064796
9,XLY,151.350006,0.255887,0.037133,0.085346,0.117917,0.134785,0.157214

********************* df_risk_all **************************

,symbol,underlying,position,delta,gamma,vega,theta,rho,position_var
0,XLB_20231231_83_c,XLB,120.0,6080.714603,269.489481,3051.041373,119.201164,3951.052559,196.080177
1,XLC_20231231_52_p,XLC,192.0,-2050.264767,297.909081,1640.856833,34.012813,-1188.143450,-96.641273
2,XLE_20231231_90_c,XLE,111.0,4678.318294,258.654446,3110.272890,113.909520,3192.661372,212.886422
3,XLF_20231231_36_p,XLF,278.0,-3736.115201,611.802475,1332.867097,23.689597,-1396.306048,-71.017002
4,XLI_20231231_102_c,XLI,98.0,6199.399254,218.861065,3767.401725,147.930538,4960.158486,171.249012
5,XLK_20231231_131_p,XLK,76.0,-2587.975380,138.103594,4514.808720,89.809610,-3682.317286,-105.677249
6,XLP_20231231_75_c,XLP,133.0,5339.812917,307.858011,2699.203177,101.714779,3084.817938,122.771362
7,XLU_20231231_71_p,XLU,141.0,-4848.509753,328.616316,2466.286641,36.081007,-3434.931792,-108.375757
8,XLV_20231231_135_c,XLV,74.0,5468.604873,170.727535,4891.830340,185.353545,5701.956592,120.847963
9,XLY_20231231_140_p,XLY,71.0,-2601.755795,129.578367,4827.996215,95.899094,-3953.124107,-98.616979

********************* df_risk_by_underlying **************************

,underlying,delta,gamma,vega,theta,rho,position_var
0,XLB,6080.714603,269.489481,3051.041373,119.201164,3951.052559,196.080177
1,XLC,-2050.264767,297.909081,1640.856833,34.012813,-1188.143450,-96.641273
2,XLE,4678.318294,258.654446,3110.272890,113.909520,3192.661372,212.886422
3,XLF,-3736.115201,611.802475,1332.867097,23.689597,-1396.306048,-71.017002
4,XLI,6199.399254,218.861065,3767.401725,147.930538,4960.158486,171.249012
5,XLK,-2587.975380,138.103594,4514.808720,89.809610,-3682.317286,-105.677249
6,XLP,5339.812917,307.858011,2699.203177,101.714779,3084.817938,122.771362
7,XLU,-4848.509753,328.616316,2466.286641,36.081007,-3434.931792,-108.375757
8,XLV,5468.604873,170.727535,4891.830340,185.353545,5701.956592,120.847963
9,XLY,-2601.755795,129.578367,4827.996215,95.899094,-3953.124107,-98.616979

********************* df_var **************************

               symbol  position  position_var
0   XLB_20231231_83_c     120.0    196.080177
1   XLC_20231231_52_p     192.0    -96.641273
2   XLE_20231231_90_c     111.0    212.886422
3   XLF_20231231_36_p     278.0    -71.017002
4  XLI_20231231_102_c      98.0    171.249012
5  XLK_20231231_131_p      76.0   -105.677249
6   XLP_20231231_75_c     133.0    122.771362
7   XLU_20231231_71_p     141.0   -108.375757
8  XLV_20231231_135_c      74.0    120.847963
9  XLY_20231231_140_p      71.0    -98.616979

********************* port_var **************************

413.6844690266184

********************* sp_dollar_equiv **************************

17782.571284493795

********************* delta **************************

11942.229044734126

********************* gamma **************************

2731.6003724268676

********************* vega **************************

32302.5650108973

********************* theta **************************

947.6016671172483

********************* df_hedge_ratios **************************

Empty DataFrame
Columns: []
Index: []

********************* df_corr **************************

,*underlying,XLB,XLC,XLE,XLF,XLI,XLK,XLP,XLU,XLV,XLY
XLB,XLB,1.000000,0.670427,0.513782,0.858180,0.868663,0.785833,0.749128,0.719327,0.723910,0.724060
XLC,XLC,0.670427,1.000000,0.305848,0.663748,0.673076,0.812734,0.377098,0.452912,0.489881,0.786911
XLE,XLE,0.513782,0.305848,1.000000,0.520228,0.483542,0.435604,0.363416,0.286284,0.453366,0.320618
XLF,XLF,0.858180,0.663748,0.520228,1.000000,0.892665,0.760010,0.756317,0.682364,0.715718,0.731672
XLI,XLI,0.868663,0.673076,0.483542,0.892665,1.000000,0.816426,0.788865,0.735029,0.727899,0.739829
XLK,XLK,0.785833,0.812734,0.435604,0.760010,0.816426,1.000000,0.608155,0.649225,0.676992,0.855388
XLP,XLP,0.749128,0.377098,0.363416,0.756317,0.788865,0.608155,1.000000,0.733005,0.781990,0.503130
XLU,XLU,0.719327,0.452912,0.286284,0.682364,0.735029,0.649225,0.733005,1.000000,0.661284,0.606535
XLV,XLV,0.723910,0.489881,0.453366,0.715718,0.727899,0.676992,0.781990,0.661284,1.000000,0.569442
XLY,XLY,0.724060,0.786911,0.320618,0.731672,0.739829,0.855388,0.503130,0.606535,0.569442,1.000000

********************* df_corr_price **************************

,*underlying,XLB,XLC,XLE,XLF,XLI,XLK,XLP,XLU,XLV,XLY
XLB,XLB,1.000000,0.880027,0.471785,0.877474,0.870818,0.832160,-0.142498,-0.091376,-0.123055,0.838712
XLC,XLC,0.880027,1.000000,0.413814,0.870065,0.782307,0.803826,-0.427173,-0.335151,-0.400099,0.820004
XLE,XLE,0.471785,0.413814,1.000000,0.668759,0.374196,0.381356,-0.292778,-0.408623,-0.413098,0.425348
XLF,XLF,0.877474,0.870065,0.668759,1.000000,0.861106,0.749603,-0.197597,-0.264031,-0.319403,0.810777
XLI,XLI,0.870818,0.782307,0.374196,0.861106,1.000000,0.711012,0.112873,0.136602,-0.007646,0.718234
XLK,XLK,0.832160,0.803826,0.381356,0.749603,0.711012,1.000000,-0.089980,-0.335017,-0.057346,0.961504
XLP,XLP,-0.142498,-0.427173,-0.292778,-0.197597,0.112873,-0.089980,1.000000,0.646820,0.852564,-0.119745
XLU,XLU,-0.091376,-0.335151,-0.408623,-0.264031,0.136602,-0.335017,0.646820,1.000000,0.666600,-0.402530
XLV,XLV,-0.123055,-0.400099,-0.413098,-0.319403,-0.007646,-0.057346,0.852564,0.666600,1.000000,-0.139710
XLY,XLY,0.838712,0.820004,0.425348,0.810777,0.718234,0.961504,-0.119745,-0.402530,-0.139710,1.000000

### Run the risk server on a specific port using uvicorn
1. Run the 2 cells below
2. To see an example VaR output, in a browser's address bar enter:
  * if the port is 8556: `http://localhost:8556/get_var
3. To see an example of getting risk information for the example portfolio in spdr_stocks..csv:
  * if the port is 8556: `http://localhost:8556/get_risk

In [8]:
port_num = 8556
if RUN_RISK_SERVER:
    !uvicorn risk_server:app --port {port_num} --reload

### Show basic usage of `build_history.HistoryBuilder()`
`build_history.HistoryBuilder` has a member method `build_history_dict()`, which will create a python dictionary of daily historical values from various sources.  The default source is `yfinance` (yahoo finance)

In [9]:
if RUN_HISTORY_BUILDER:   
    hist_builder = bhist.HistoryBuilder()
    hist_dict = hist_builder.build_history_dict()

### Show how to access the redis server, and retrieve objects from it like pandas DataFrames

In [10]:
import redis
import pyarrow as pa
redis_port = 6379
redis_db = redis.Redis(host = 'localhost',port=redis_port,db=0)

In [11]:
def get_redis_df(key):
    context = pa.default_serialization_context()#@UndefinedVariable 
    df = context.deserialize(redis_db.get(key))
    return df

In [12]:
sorted(redis_db.keys())
dfs = get_redis_df('AAPL_csv')

/var/folders/fl/tvtrn4x93cx6s2vpm9b7gn0w0000gn/T/ipykernel_24935/1421278571.py:2: FutureWarning:

'pyarrow.default_serialization_context' is deprecated as of 2.0.0 and will be removed in a future version. Use pickle or the pyarrow IPC functionality instead.

/Users/bperlman1/Virtualenvs3/risktables/lib/python3.10/site-packages/IPython/core/interactiveshell.py:3442: FutureWarning:

'pyarrow.deserialize' is deprecated as of 2.0.0 and will be removed in a future version. Use pickle or the pyarrow IPC functionality instead.

In [13]:
dfs

,settle_date,open,high,low,close,volume,date
0,20180205,39.775002,40.970001,39.000000,39.122501,290954000,2018-02-05 00:00:00-05:00
1,20180206,38.707500,40.930000,38.500000,40.757500,272975200,2018-02-06 00:00:00-05:00
2,20180207,40.772499,40.849998,39.767502,39.884998,206434400,2018-02-07 00:00:00-05:00
3,20180208,40.072498,40.250000,38.757500,38.787498,217562000,2018-02-08 00:00:00-05:00
4,20180209,39.267502,39.472500,37.560001,39.102501,282690400,2018-02-09 00:00:00-05:00
...,...,...,...,...,...,...,...
1254,20230130,144.960007,145.550003,142.850006,143.000000,64015300,2023-01-30 00:00:00-05:00
1255,20230131,142.699997,144.339996,142.279999,144.289993,65874500,2023-01-31 00:00:00-05:00
1256,20230201,143.970001,146.610001,141.320007,145.429993,77663600,2023-02-01 00:00:00-05:00
1257,20230202,148.899994,151.179993,148.169998,150.820007,118339000,2023-02-02 00:00:00-05:00
1258,20230203,148.029999,157.380005,147.830002,154.500000,154279900,2023-02-03 00:00:00-05:00

### Show an example financialmodelprep api

In [17]:
stocks = [v.lower() for v in ['SPY','IBM','TSLA']]
dfp = fprep.fmp_profile(stocks)
dfr = fprep.fmp_ratios(stocks)
display.display(dfp)
display.display(dfr)

,symbol,price,beta,volAvg,mktCap,lastDiv,range,changes,companyName,currency,...,zip,dcfDiff,dcf,image,ipoDate,defaultImage,isEtf,isActivelyTrading,isAdr,isFund
0,IBM,136.94,0.881060,4652414,122742060800,6.59,115.55-153.21,0.55,International Business Machines Corporation,USD,...,10504,19.641,154.031,https://financialmodelingprep.com/image-stock/...,1915-11-11,False,False,True,False,False
0,SPY,412.35,1.000000,81315785,378447423369,6.32,348.11-462.07,-4.43,SPDR S&P 500 ETF Trust,USD,...,None,None,0.000,https://financialmodelingprep.com/image-stock/...,1993-01-22,False,True,True,False,False
0,TSLA,189.98,2.030345,147095114,599909348040,0.00,101.81-384.29,1.71,"Tesla, Inc.",USD,...,78725,3.73173,181.632,https://financialmodelingprep.com/image-stock/...,2010-06-29,False,False,True,False,False

,symbol,dividendYielTTM,dividendYielPercentageTTM,peRatioTTM,pegRatioTTM,payoutRatioTTM,currentRatioTTM,quickRatioTTM,cashRatioTTM,daysOfSalesOutstandingTTM,...,priceEarningsRatioTTM,priceToFreeCashFlowsRatioTTM,priceToOperatingCashFlowsRatioTTM,priceCashFlowRatioTTM,priceEarningsToGrowthRatioTTM,priceSalesRatioTTM,dividendYieldTTM,enterpriseValueMultipleTTM,priceFairValueTTM,dividendPerShareTTM
0,spy,0.015327,1.532679,22.373846,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.32
0,ibm,0.048123,4.812327,22.489735,63.768902,4.724837,0.951848,0.731209,0.256548,98.486528,...,98.181962,17.694362,13.735018,13.735018,63.768902,2.628776,0.048123,27.376665,6.166938,6.59
0,tsla,0.000000,0.000000,50.126648,40.215464,0.000000,1.531956,0.941143,0.608521,13.226781,...,44.756359,74.323613,38.166316,38.166316,40.215464,6.898441,None,31.136210,12.570706,0.00

In [15]:
# the 'ratios-ttm' route only allows you to get one stock at a time
stk = 'spy'
ratios_json = fprep.get_fmp_json([stk],'ratios-ttm')
display.display(pd.json_normalize(ratios_json))

,dividendYielTTM,dividendYielPercentageTTM,peRatioTTM,pegRatioTTM,payoutRatioTTM,currentRatioTTM,quickRatioTTM,cashRatioTTM,daysOfSalesOutstandingTTM,daysOfInventoryOutstandingTTM,...,priceEarningsRatioTTM,priceToFreeCashFlowsRatioTTM,priceToOperatingCashFlowsRatioTTM,priceCashFlowRatioTTM,priceEarningsToGrowthRatioTTM,priceSalesRatioTTM,dividendYieldTTM,enterpriseValueMultipleTTM,priceFairValueTTM,dividendPerShareTTM
0,0.015327,1.532679,22.373846,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,6.32

In [16]:
stk = 'spy'
ratios_json = fprep.get_fmp_json([stk],'quote')
display.display(pd.json_normalize(ratios_json))

,symbol,name,price,changesPercentage,change,dayLow,dayHigh,yearHigh,yearLow,marketCap,...,exchange,volume,avgVolume,open,previousClose,eps,pe,earningsAnnouncement,sharesOutstanding,timestamp
0,SPY,SPDR S&P 500 ETF Trust,412.35,-1.0629,-4.43,411.09,416.97,462.07,348.11,378447423369,...,AMEX,93987638,81315785,411.59,416.78,0,None,None,917782038,1675458004

In [19]:
dfp.merge(dfr,on='symbol',how='left')

,symbol,price,beta,volAvg,mktCap,lastDiv,range,changes,companyName,currency,...,priceEarningsRatioTTM,priceToFreeCashFlowsRatioTTM,priceToOperatingCashFlowsRatioTTM,priceCashFlowRatioTTM,priceEarningsToGrowthRatioTTM,priceSalesRatioTTM,dividendYieldTTM,enterpriseValueMultipleTTM,priceFairValueTTM,dividendPerShareTTM
0,IBM,136.94,0.881060,4652414,122742060800,6.59,115.55-153.21,0.55,International Business Machines Corporation,USD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SPY,412.35,1.000000,81315785,378447423369,6.32,348.11-462.07,-4.43,SPDR S&P 500 ETF Trust,USD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TSLA,189.98,2.030345,147095114,599909348040,0.00,101.81-384.29,1.71,"Tesla, Inc.",USD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN