### RiskCalc examples.
Make sure that the working directory for this ipynb notebook is ./risktables/risktables

___
The class ```RiskCalcs``` performs basic portfolio risk calculations.  It returns a dictionary, whose items are either instances of Pandas ```DataFrame``` or floating point values representing portfolio aggregate risk measurements (VaR, Greeks, etc).
___

In [1]:
# include both the project package, and the project folder in sys.path
import sys,os
if  not './' in sys.path:
    sys.path.append(os.path.abspath('./'))
if  not '../' in sys.path:
    sys.path.append(os.path.abspath('../'))

from risktables import risk_tables
import pandas as pd
from IPython import display
import datetime

/Users/bperlman1/Documents/billybyte/pyliverisk/risktables/risktables/dgrid_components.py:17: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html
/Users/bperlman1/Documents/billybyte/pyliverisk/risktables/risktables/dgrid_components.py:18: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
/Users/bperlman1/Documents/billybyte/pyliverisk/risktables/risktables/dgrid_components.py:21: UserWarning:
The dash_table package is deprecated. Please replace
`import dash_table` with `from dash import dash_table`

Also, if you're using any of the table format helpers (e.g. Group), replace
`from dash_table.Format import Group` with
`from dash.dash_table.Format import Group`
  import dash_table

#### Create an instance of RiskCalcs

In [2]:
# df_postgres_info = pd.read_csv('postgres_info.csv')
# display.display(df_postgres_info)
# prices_db_info = df_postgres_info.loc[df_postgres_info.config_name=='dashrisk_local']
rt = risk_tables.RiskCalcs(use_postgres=False)

#### Create an example portfolio consisting of hypothetical options on the S&P 500 Sector Spdr's

In [3]:
next_year = (datetime.datetime.now() + datetime.timedelta(weeks=52)).year
next_year = str(next_year)
df_spdr_options =  pd.read_csv('spdr_stocks.csv')
df_spdr_options.symbol = df_spdr_options.symbol.apply(lambda s: s.replace('2021',next_year))
display.display(df_spdr_options)

               symbol  position
0   XLB_20231231_83_c       120
1   XLC_20231231_52_p       192
2   XLE_20231231_90_c       111
3   XLF_20231231_36_p       278
4  XLI_20231231_102_c        98
5  XLK_20231231_131_p        76
6   XLP_20231231_75_c       133
7   XLU_20231231_71_p       141
8  XLV_20231231_135_c        74
9  XLY_20231231_140_p        71

#### Run risk calculations
*Market data must be fetched for each underlying, which causes the cell below to take about 10 seconds to run*

In [4]:
rt = risk_tables.RiskCalcs(use_postgres=False)
risk_dictionary = rt.calculate(df_spdr_options)

2023-01-24 09:05:12,822 - root - INFO - Start computing VaR 2023-01-24 09:05:12.822024

[*********************100%***********************]  1 of 1 completed
          open        high         low       close    volume  \
47  102.400002  102.540001  101.480003  101.589996   9274900
48  101.940002  102.169998   99.620003   99.680000  15026000
49   99.070000   99.320000   97.620003   97.629997  17155600
50   97.709999   99.019997   97.309998   98.989998  12816500
51   99.300003  100.610001   98.879997  100.070000  11112000

                        date
47 2023-01-17 00:00:00-05:00
48 2023-01-18 00:00:00-05:00
49 2023-01-19 00:00:00-05:00
50 2023-01-20 00:00:00-05:00
51 2023-01-23 00:00:00-05:00
[*********************100%***********************]  1 of 1 completed
         open       high        low      close    volume  \
47  90.160004  91.080002  89.769997  90.139999  16966600
48  90.559998  91.570000  88.400002  88.489998  19037600
49  87.980003  89.949997  87.790001  89.589996  17146900
50  89.779999  90.790001  88.870003  90.480003  14277600
51  91.139999  91.589996  90.309998  90.599998  14636900

                        date
47 2023-01-17 00:00:00-05:00
48 2023-01-18 00:00:00-05:00
49 2023-01-19 00:00:00-05:00
50 2023-01-20 00:00:00-05:00
51 2023-01-23 00:00:00-05:00
[*********************100%***********************]  1 of 1 completed
         open       high        low      close    volume  \
47  36.029999  36.049999  35.770000  35.880001  65345200
48  35.680000  35.900002  35.180000  35.209999  53693000
49  34.779999  34.980000  34.560001  34.799999  61169500
50  34.900002  35.369999  34.740002  35.349998  42321900
51  35.380001  35.910000  35.270000  35.759998  44993000

                        date
47 2023-01-17 00:00:00-05:00
48 2023-01-18 00:00:00-05:00
49 2023-01-19 00:00:00-05:00
50 2023-01-20 00:00:00-05:00
51 2023-01-23 00:00:00-05:00
[*********************100%***********************]  1 of 1 completed
         open       high        low      close    volume  \
47  74.860001  75.419998  74.680000  74.790001   9006800
48  74.610001  74.660004  72.639999  72.750000  16069900
49  72.459999  72.790001  72.040001  72.059998  12421500
50  72.110001  72.650002  71.599998  72.620003  12349300
51  72.760002  73.220001  72.550003  72.849998  12000200

                        date
47 2023-01-17 00:00:00-05:00
48 2023-01-18 00:00:00-05:00
49 2023-01-19 00:00:00-05:00
50 2023-01-20 00:00:00-05:00
51 2023-01-23 00:00:00-05:00
[*********************100%***********************]  1 of 1 completed
         open       high        low      close   volume  \
47  52.220001  52.279999  51.540001  51.860001  3529900
48  52.009998  52.169998  51.081001  51.230000  5930300
49  50.970001  51.755001  50.799999  51.490002  7387400
50  51.910000  53.155998  51.770000  53.099998  4874200
51  53.150002  54.154999  53.020000  54.029999  6263900

                        date
47 2023-01-17 00:00:00-05:00
48 2023-01-18 00:00:00-05:00
49 2023-01-19 00:00:00-05:00
50 2023-01-20 00:00:00-05:00
51 2023-01-23 00:00:00-05:00
[*********************100%***********************]  1 of 1 completed
         open       high        low      close    volume  \
47  71.379997  71.889999  71.110001  71.230003   9765200
48  71.540001  71.540001  69.430000  69.519997  14510200
49  69.489998  69.559998  68.650002  68.820000  14197000
50  68.779999  69.260002  67.839996  69.230003  12359400
51  68.989998  69.919998  68.690002  69.250000   9826300

                        date
47 2023-01-17 00:00:00-05:00
48 2023-01-18 00:00:00-05:00
49 2023-01-19 00:00:00-05:00
50 2023-01-20 00:00:00-05:00
51 2023-01-23 00:00:00-05:00
[*********************100%***********************]  1 of 1 completed
         open       high        low      close   volume  \
47  83.930000  84.089996  82.870003  82.949997  3471500
48  83.709999  83.830002  81.739998  81.779999  4722300
49  81.160004  81.489998  80.510002  81.150002  4079900
50  81.360001  82.839996  80.930000  82.779999  3448700
51  82.669998  83.400002  82.269997  83.050003  6248700

                        date
47 2023-01-17 00:00:00-05:00
48 2023-01-18 00:00:00-05:00
49 2023-01-19 00:00:00-05:00
50 2023-01-20 00:00:00-05:00
51 2023-01-23 00:00:00-05:00
[*********************100%***********************]  1 of 1 completed
          open        high         low       close    volume  \
47  135.380005  135.610001  134.639999  134.820007   6664100
48  134.820007  135.169998  132.789993  132.919998  10629100
49  132.529999  133.770004  132.259995  133.240005   9902300
50  133.539993  134.009995  132.520004  133.910004   5960800
51  133.990005  135.119995  133.690002  134.369995   7211000

                        date
47 2023-01-17 00:00:00-05:00
48 2023-01-18 00:00:00-05:00
49 2023-01-19 00:00:00-05:00
50 2023-01-20 00:00:00-05:00
51 2023-01-23 00:00:00-05:00
[*********************100%***********************]  1 of 1 completed
          open        high         low       close    volume  \
47  130.309998  131.850006  130.149994  131.080002   5212900
48  131.820007  132.520004  129.309998  129.389999   6968000
49  128.380005  129.100006  127.410004  127.879997   7322500
50  128.520004  131.440002  128.059998  131.339996   7063200
51  131.869995  135.100006  131.570007  134.330002  11736300

                        date
47 2023-01-17 00:00:00-05:00
48 2023-01-18 00:00:00-05:00
49 2023-01-19 00:00:00-05:00
50 2023-01-20 00:00:00-05:00
51 2023-01-23 00:00:00-05:00
[*********************100%***********************]  1 of 1 completed
          open        high         low       close   volume  \
47  140.110001  140.919998  139.399994  139.800003  3749900
48  141.220001  142.029999  137.919998  137.979996  4798400
49  136.970001  137.399994  134.990005  135.690002  6478600
50  135.990005  139.059998  135.320007  138.979996  3751300
51  139.350006  141.679993  138.539993  141.149994  4584000

                        date
47 2023-01-17 00:00:00-05:00
48 2023-01-18 00:00:00-05:00
49 2023-01-19 00:00:00-05:00
50 2023-01-20 00:00:00-05:00
51 2023-01-23 00:00:00-05:00
[*********************100%***********************]  1 of 1 completed
entering update_delta_div
End computing VaR 2023-01-24 09:05:18.246964
leaving update_memory

/Users/bperlman1/Documents/billybyte/pyliverisk/risktables/risktables/var_models.py:253: FutureWarning:

The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.

/Users/bperlman1/Documents/billybyte/pyliverisk/risktables/risktables/var_models.py:255: FutureWarning:

The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.

/Users/bperlman1/Documents/billybyte/pyliverisk/risktables/risktables/var_models.py:257: FutureWarning:

The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.

/Users/bperlman1/Documents/billybyte/pyliverisk/risktables/risktables/var_models.py:259: FutureWarning:

The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.

/Users/bperlman1/Documents/billybyte/pyliverisk/risktables/risktables/var_models.py:261: FutureWarning:

The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.

#### List the names of the outputs

In [5]:
for k in risk_dictionary.keys():
    print(k)

yyyymmddhhmmssmmmmmm
df_std
df_atm_price
df_high_low
df_atm_info
df_risk_all
df_risk_by_underlying
df_var
port_var
sp_dollar_equiv
delta
gamma
vega
theta
df_hedge_ratios
df_corr
df_corr_price

#### Now show the actual values of each key

In [6]:
for k in risk_dictionary.keys():
    print(f'********************* {k} **************************')
    dict_item = risk_dictionary[k]
    object_to_print = dict_item
    if type(dict_item)==dict:
        if k[:2] == 'df':
            object_to_print = risk_tables.make_df(risk_dictionary[k])
    display.display(object_to_print)

********************* yyyymmddhhmmssmmmmmm **************************

'20230124090518246964'

********************* df_std **************************

      stdev underlying
6  0.240495        XLB
4  0.276084        XLC
1  0.286160        XLE
2  0.202849        XLF
0  0.197312        XLI
8  0.325051        XLK
3  0.153255        XLP
5  0.204109        XLU
7  0.147273        XLV
9  0.293791        XLY

********************* df_atm_price **************************

  underlying       close     stdev
0        XLB   83.050003  0.240495
1        XLC   54.029999  0.276084
2        XLE   90.599998  0.286160
3        XLF   35.759998  0.202849
4        XLI  100.070000  0.197312
5        XLK  134.330002  0.325051
6        XLP   72.849998  0.153255
7        XLU   69.250000  0.204109
8        XLV  134.369995  0.147273
9        XLY  141.149994  0.293791

********************* df_high_low **************************

  underlying        d1        d5       d10       d15       d20
0        XLI  0.025262  0.058279  0.064495  0.069391  0.071270
1        XLE  0.043816  0.085964  0.101096  0.112234  0.123338
2        XLF  0.027590  0.067061  0.071875  0.083756  0.091442
3        XLP  0.023055  0.049903  0.056138  0.063327  0.066683
4        XLC  0.033097  0.091855  0.104311  0.113149  0.120208
5        XLU  0.030474  0.061977  0.067700  0.079446  0.091578
6        XLB  0.027294  0.080016  0.088420  0.092367  0.095588
7        XLV  0.022756  0.049315  0.058396  0.061856  0.068507
8        XLK  0.039021  0.104412  0.119501  0.131662  0.139685
9        XLY  0.038435  0.100214  0.116350  0.136093  0.145727

********************* df_atm_info **************************

,underlying,close,stdev,d1,d5,d10,d15,d20
0,XLB,83.050003,0.240495,0.027294,0.080016,0.088420,0.092367,0.095588
1,XLC,54.029999,0.276084,0.033097,0.091855,0.104311,0.113149,0.120208
2,XLE,90.599998,0.286160,0.043816,0.085964,0.101096,0.112234,0.123338
3,XLF,35.759998,0.202849,0.027590,0.067061,0.071875,0.083756,0.091442
4,XLI,100.070000,0.197312,0.025262,0.058279,0.064495,0.069391,0.071270
5,XLK,134.330002,0.325051,0.039021,0.104412,0.119501,0.131662,0.139685
6,XLP,72.849998,0.153255,0.023055,0.049903,0.056138,0.063327,0.066683
7,XLU,69.250000,0.204109,0.030474,0.061977,0.067700,0.079446,0.091578
8,XLV,134.369995,0.147273,0.022756,0.049315,0.058396,0.061856,0.068507
9,XLY,141.149994,0.293791,0.038435,0.100214,0.116350,0.136093,0.145727

********************* df_risk_all **************************

,symbol,underlying,position,delta,gamma,vega,theta,rho,position_var
0,XLB_20231231_83_c,XLB,120.0,5972.665800,266.591609,3092.013880,116.772503,3989.431936,225.233307
1,XLC_20231231_52_p,XLC,192.0,-3317.749882,394.553878,1936.493610,34.592421,-1883.199290,-126.921020
2,XLE_20231231_90_c,XLE,111.0,6161.342422,244.305003,3372.065296,128.476061,4478.615008,272.724728
3,XLF_20231231_36_p,XLF,278.0,-4145.265967,623.601091,1340.990180,21.525323,-1579.329864,-106.048777
4,XLI_20231231_102_c,XLI,98.0,5442.738958,222.576183,3748.164961,137.833346,4414.111292,172.883752
5,XLK_20231231_131_p,XLK,76.0,-3546.574658,161.357565,4895.621016,85.124038,-5024.493535,-158.012056
6,XLP_20231231_75_c,XLP,133.0,5156.925477,303.973156,2712.866164,98.537032,3055.905775,128.142558
7,XLU_20231231_71_p,XLU,141.0,-4475.255281,321.548550,2593.104003,39.253317,-3322.964522,-115.099807
8,XLV_20231231_135_c,XLV,74.0,5842.046665,165.581654,5027.343565,188.453926,6326.765292,140.274529
9,XLY_20231231_140_p,XLY,71.0,-3847.879807,155.866603,5221.792999,87.272363,-5758.381465,-148.343838

********************* df_risk_by_underlying **************************

,underlying,delta,gamma,vega,theta,rho,position_var
0,XLB,5972.665800,266.591609,3092.013880,116.772503,3989.431936,225.233307
1,XLC,-3317.749882,394.553878,1936.493610,34.592421,-1883.199290,-126.921020
2,XLE,6161.342422,244.305003,3372.065296,128.476061,4478.615008,272.724728
3,XLF,-4145.265967,623.601091,1340.990180,21.525323,-1579.329864,-106.048777
4,XLI,5442.738958,222.576183,3748.164961,137.833346,4414.111292,172.883752
5,XLK,-3546.574658,161.357565,4895.621016,85.124038,-5024.493535,-158.012056
6,XLP,5156.925477,303.973156,2712.866164,98.537032,3055.905775,128.142558
7,XLU,-4475.255281,321.548550,2593.104003,39.253317,-3322.964522,-115.099807
8,XLV,5842.046665,165.581654,5027.343565,188.453926,6326.765292,140.274529
9,XLY,-3847.879807,155.866603,5221.792999,87.272363,-5758.381465,-148.343838

********************* df_var **************************

               symbol  position  position_var
0   XLB_20231231_83_c     120.0    225.233307
1   XLC_20231231_52_p     192.0   -126.921020
2   XLE_20231231_90_c     111.0    272.724728
3   XLF_20231231_36_p     278.0   -106.048777
4  XLI_20231231_102_c      98.0    172.883752
5  XLK_20231231_131_p      76.0   -158.012056
6   XLP_20231231_75_c     133.0    128.142558
7   XLU_20231231_71_p     141.0   -115.099807
8  XLV_20231231_135_c      74.0    140.274529
9  XLY_20231231_140_p      71.0   -148.343838

********************* port_var **************************

371.3083669940223

********************* sp_dollar_equiv **************************

15960.99926143306

********************* delta **************************

9242.993726135286

********************* gamma **************************

2859.95529322554

********************* vega **************************

33940.45567471292

********************* theta **************************

937.8403297151742

********************* df_hedge_ratios **************************

Empty DataFrame
Columns: []
Index: []

********************* df_corr **************************

,*underlying,XLB,XLC,XLE,XLF,XLI,XLK,XLP,XLU,XLV,XLY
XLB,XLB,1.000000,0.839357,0.575051,0.900526,0.906616,0.879392,0.760055,0.746181,0.735015,0.825140
XLC,XLC,0.839357,1.000000,0.548870,0.824475,0.782500,0.877943,0.601936,0.572550,0.636344,0.845035
XLE,XLE,0.575051,0.548870,1.000000,0.570992,0.564202,0.573498,0.440645,0.311981,0.421635,0.542095
XLF,XLF,0.900526,0.824475,0.570992,1.000000,0.927196,0.866783,0.794512,0.781966,0.735923,0.870055
XLI,XLI,0.906616,0.782500,0.564202,0.927196,1.000000,0.866211,0.843897,0.793514,0.786432,0.809849
XLK,XLK,0.879392,0.877943,0.573498,0.866783,0.866211,1.000000,0.715882,0.738653,0.732889,0.915694
XLP,XLP,0.760055,0.601936,0.440645,0.794512,0.843897,0.715882,1.000000,0.814850,0.802728,0.655809
XLU,XLU,0.746181,0.572550,0.311981,0.781966,0.793514,0.738653,0.814850,1.000000,0.750109,0.687385
XLV,XLV,0.735015,0.636344,0.421635,0.735923,0.786432,0.732889,0.802728,0.750109,1.000000,0.654851
XLY,XLY,0.825140,0.845035,0.542095,0.870055,0.809849,0.915694,0.655809,0.687385,0.654851,1.000000

********************* df_corr_price **************************

,*underlying,XLB,XLC,XLE,XLF,XLI,XLK,XLP,XLU,XLV,XLY
XLB,XLB,1.000000,0.912630,0.245481,0.800602,0.883200,0.787195,0.387571,0.454249,0.388526,0.668810
XLC,XLC,0.912630,1.000000,0.334373,0.825629,0.788827,0.666734,0.166628,0.322011,0.187649,0.595275
XLE,XLE,0.245481,0.334373,1.000000,0.625713,0.166375,0.337580,-0.382018,-0.524485,-0.507465,0.532621
XLF,XLF,0.800602,0.825629,0.625713,1.000000,0.793313,0.653073,0.175302,0.123502,0.045217,0.709074
XLI,XLI,0.883200,0.788827,0.166375,0.793313,1.000000,0.621211,0.599935,0.640074,0.486621,0.480649
XLK,XLK,0.787195,0.666734,0.337580,0.653073,0.621211,1.000000,0.339677,0.131014,0.393427,0.899530
XLP,XLP,0.387571,0.166628,-0.382018,0.175302,0.599935,0.339677,1.000000,0.776003,0.873813,0.107356
XLU,XLU,0.454249,0.322011,-0.524485,0.123502,0.640074,0.131014,0.776003,1.000000,0.735272,-0.181369
XLV,XLV,0.388526,0.187649,-0.507465,0.045217,0.486621,0.393427,0.873813,0.735272,1.000000,0.139733
XLY,XLY,0.668810,0.595275,0.532621,0.709074,0.480649,0.899530,0.107356,-0.181369,0.139733,1.000000

In [9]:
pd.DataFrame(risk_dictionary['df_risk_all']).to_dict(orient="records")

[{'symbol': 'XLB_20231231_83_c',
  'underlying': 'XLB',
  'position': 120.0,
  'delta': 5972.665800177213,
  'gamma': 266.59160888051025,
  'vega': 3092.0138801775306,
  'theta': 116.77250258482557,
  'rho': 3989.4319356027045,
  'position_var': 225.23330682462284},
 {'symbol': 'XLC_20231231_52_p',
  'underlying': 'XLC',
  'position': 192.0,
  'delta': -3317.749881575041,
  'gamma': 394.5538783712502,
  'vega': 1936.4936100149532,
  'theta': 34.59242053154169,
  'rho': -1883.1992895099788,
  'position_var': -126.92102010046295},
 {'symbol': 'XLE_20231231_90_c',
  'underlying': 'XLE',
  'position': 111.0,
  'delta': 6161.3424223967195,
  'gamma': 244.30500257453733,
  'vega': 3372.065296249838,
  'theta': 128.47606147371673,
  'rho': 4478.615007752008,
  'position_var': 272.7247277868991},
 {'symbol': 'XLF_20231231_36_p',
  'underlying': 'XLF',
  'position': 278.0,
  'delta': -4145.26596733624,
  'gamma': 623.601091162825,
  'vega': 1340.9901803769392,
  'theta': 21.52532291874996,
  'rho': -1579.3298638979104,
  'position_var': -106.04877651189308},
 {'symbol': 'XLI_20231231_102_c',
  'underlying': 'XLI',
  'position': 98.0,
  'delta': 5442.738957514973,
  'gamma': 222.5761834250115,
  'vega': 3748.1649612522356,
  'theta': 137.83334559943253,
  'rho': 4414.1112916822385,
  'position_var': 172.88375174718266},
 {'symbol': 'XLK_20231231_131_p',
  'underlying': 'XLK',
  'position': 76.0,
  'delta': -3546.574657927158,
  'gamma': 161.35756476425192,
  'vega': 4895.621015518156,
  'theta': 85.12403788281092,
  'rho': -5024.493534623424,
  'position_var': -158.01205592095462},
 {'symbol': 'XLP_20231231_75_c',
  'underlying': 'XLP',
  'position': 133.0,
  'delta': 5156.925476646171,
  'gamma': 303.9731561815348,
  'vega': 2712.8661640247105,
  'theta': 98.53703207479455,
  'rho': 3055.905775370111,
  'position_var': 128.1425579821886},
 {'symbol': 'XLU_20231231_71_p',
  'underlying': 'XLU',
  'position': 141.0,
  'delta': -4475.255281378655,
  'gamma': 321.54855043055323,
  'vega': 2593.1040031930074,
  'theta': 39.25331733203502,
  'rho': -3322.964522350246,
  'position_var': -115.09980694688929},
 {'symbol': 'XLV_20231231_135_c',
  'underlying': 'XLV',
  'position': 74.0,
  'delta': 5842.046664658428,
  'gamma': 165.58165410967715,
  'vega': 5027.343565296066,
  'theta': 188.45392633592328,
  'rho': 6326.76529231351,
  'position_var': 140.27452859913103},
 {'symbol': 'XLY_20231231_140_p',
  'underlying': 'XLY',
  'position': 71.0,
  'delta': -3847.879807041126,
  'gamma': 155.86660332538895,
  'vega': 5221.792998609483,
  'theta': 87.27236298134395,
  'rho': -5758.381465029453,
  'position_var': -148.34383819388097}]

In [ ]:
# Run this app with `python app.py` and
# visit http://127.0.0.1:8050/ in your web browser.

from dash import Dash,dash_table, html, dcc
import dash_bootstrap_components as dbc
import plotly.express as px
import pandas as pd

# external_scripts = [
#     {
#         'src': 'https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js',
#         'integrity': 'sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd',
#         'crossorigin': 'anonymous'
#     },
# ]

# # external CSS stylesheets
# external_stylesheets = [
#     {
#         'href':"https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css",
#         'rel': 'stylesheet',
#         'integrity': "sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" ,
#         'crossorigin': 'anonymous'
#     },
#     {
#         'href':"https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css",
#         'rel': 'stylesheet',
#         'integrity': "sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" ,
#         'crossorigin': 'anonymous'
#     },
    
# ]


# app = Dash(
#     __name__,
#     external_scripts=external_scripts,
#     external_stylesheets=external_stylesheets
# )
app = Dash(
    __name__,
)

# assume you have a "long-form" data frame
# see https://plotly.com/python/px-arguments/ for more options
# df = pd.DataFrame({
#     "Fruit": ["Apples", "Oranges", "Bananas", "Apples", "Oranges", "Bananas"],
#     "Amount": [4, 1, 2, 2, 4, 5],
#     "City": ["SF", "SF", "SF", "Montreal", "Montreal", "Montreal"]
# })

# fig = px.bar(df, x="Fruit", y="Amount", color="City", barmode="group")

df_risk_all = risk_tables.make_df(risk_dictionary['df_risk_all'])
dt = dash_table.DataTable(
    df_risk_all.to_dict('records'), 
    [
        {"name": i, "id": i} 
        for i in df_risk_all.columns
    ],
)
layout = html.Div(
    children=[
        html.Div(
#             style="width:98vw",
#             className="containerFluid",
            children=[
                html.H1(
                    children='Hello Dash',
                ),
                html.Div(
                    children='''
                    Dash: A web application framework for your data.
                    ''',
#                     className="row"
                ),
                html.Div(
#                     className="row",
                    children=[dt],
                ),
#                 dcc.Graph(
#                     id='example-graph',
#                     figure=fig
#                 ),        
            ],
        )
    
])

app.layout = layout
app.run_server(port=8999,debug=False,)