In [1]:
import pandas as pd
import datetime
import pytz
import var_models
from IPython import display

In [3]:
df_port = pd.read_csv('spdr_stocks.csv')

In [5]:
var_model = var_models.VarModel(df_port)

2023-01-18 11:38:18,445 - numexpr.utils - INFO - NumExpr defaulting to 4 threads.

[*********************100%***********************]  1 of 1 completed
         open       high        low      close    volume       date
49  71.500000  72.180000  71.489998  72.080002  10685900 2023-01-11
50  72.169998  72.269997  71.529999  71.589996  12898900 2023-01-12
51  71.290001  71.570000  70.800003  71.330002  11896500 2023-01-13
52  71.379997  71.889999  71.110001  71.230003   9764800 2023-01-17
53  71.540001  71.540001  70.120003  70.150002   4455393 2023-01-18
[*********************100%***********************]  1 of 1 completed
         open       high        low      close   volume       date
49  51.349998  51.619999  51.080002  51.610001  4098400 2023-01-11
50  51.750000  52.349998  51.150002  52.180000  4193700 2023-01-12
51  51.849998  52.430000  51.755001  52.349998  3712300 2023-01-13
52  52.220001  52.279999  51.540001  51.860001  3529200 2023-01-17
53  52.009998  52.169998  51.299500  51.314999  1512563 2023-01-18
[*********************100%***********************]  1 of 1 completed
          open        high         low       close    volume       date
49  101.599998  102.000000  101.040001  101.980003   7395400 2023-01-11
50  102.349998  102.980003  101.489998  102.580002   9883200 2023-01-12
51  101.709999  102.540001  101.449997  102.459999  14206300 2023-01-13
52  102.400002  102.540001  101.480003  101.589996   9274900 2023-01-17
53  101.940002  102.165001  100.650002  100.709999   4246111 2023-01-18
[*********************100%***********************]  1 of 1 completed
         open       high        low      close   volume       date
49  75.190002  75.410004  74.320000  74.980003  9848300 2023-01-11
50  75.139999  75.150002  74.209999  74.389999  9841300 2023-01-12
51  74.190002  74.760002  74.139999  74.739998  9274200 2023-01-13
52  74.860001  75.419998  74.680000  74.790001  9006800 2023-01-17
53  74.610001  74.629997  73.389999  73.434998  5281456 2023-01-18
[*********************100%***********************]  1 of 1 completed
         open       high        low      close    volume       date
49  88.639999  88.860001  87.190002  88.139999  16451500 2023-01-11
50  88.669998  90.400002  88.500000  89.820000  18358000 2023-01-12
51  89.750000  90.169998  88.800003  89.949997  15901600 2023-01-13
52  90.160004  91.080002  89.769997  90.139999  16962400 2023-01-17
53  90.559998  91.570000  90.269997  90.339996   6047429 2023-01-18
[*********************100%***********************]  1 of 1 completed
          open        high         low       close   volume       date
49  127.360001  129.160004  126.970001  129.160004  6879000 2023-01-11
50  129.360001  130.710007  127.779999  130.119995  7679300 2023-01-12
51  128.889999  130.679993  128.589996  130.490005  5074700 2023-01-13
52  130.309998  131.850006  130.149994  131.080002  5116500 2023-01-17
53  131.820007  132.500000  130.130005  130.169998  2402776 2023-01-18
[*********************100%***********************]  1 of 1 completed
         open       high        low      close   volume       date
49  82.550003  83.010002  82.059998  82.970001  4922900 2023-01-11
50  83.160004  83.519997  82.330002  83.279999  3893800 2023-01-12
51  82.800003  83.959999  82.730003  83.790001  3482600 2023-01-13
52  83.930000  84.089996  82.870003  82.949997  3471500 2023-01-17
53  83.709999  83.830002  82.879997  83.019997  1690352 2023-01-18
[*********************100%***********************]  1 of 1 completed
          open        high         low       close   volume       date
49  134.610001  135.300003  133.990005  135.279999  7307200 2023-01-11
50  134.990005  135.410004  133.539993  134.850006  7580500 2023-01-12
51  134.110001  135.860001  134.050003  135.449997  6333400 2023-01-13
52  135.380005  135.610001  134.639999  134.820007  6663300 2023-01-17
53  134.820007  135.169998  133.770004  133.850006  3221842 2023-01-18
[*********************100%***********************]  1 of 1 completed
          open        high         low       close   volume       date
49  135.690002  138.179993  135.570007  138.169998  6354000 2023-01-11
50  139.029999  139.190002  136.179993  138.399994  4786100 2023-01-12
51  136.259995  139.830002  136.070007  139.699997  3984100 2023-01-13
52  140.110001  140.919998  139.399994  139.800003  3711900 2023-01-17
53  141.220001  142.029999  139.240005  139.259995  1824956 2023-01-18
[*********************100%***********************]  1 of 1 completed
         open       high        low      close    volume       date
49  35.540001  35.779999  35.470001  35.779999  32014700 2023-01-11
50  35.900002  36.060001  35.619999  35.849998  56642400 2023-01-12
51  35.389999  36.169998  35.259998  36.119999  65912700 2023-01-13
52  36.029999  36.049999  35.770000  35.880001  65055300 2023-01-17
53  35.680000  35.895000  35.459999  35.470001  13093164 2023-01-18
[*********************100%***********************]  1 of 1 completed

In [6]:
var_results = var_model.compute_var()
for k in var_results.keys():
    display.display(f'{k}')
    display.display(var_results[k])

'df_underlying_positions'

,underlying,position,close,stdev,delta,gamma,unit_var,position_var
0,XLB,120,83.019997,0.248330,0.617133,0.018985,0.023310,232.221181
1,XLC,192,51.314999,0.278380,-0.403704,0.027804,-0.015171,-149.476200
2,XLE,111,90.339996,0.288100,0.620005,0.015004,0.027160,272.357877
3,XLF,278,35.470001,0.198528,-0.405091,0.056452,-0.010859,-107.075764
4,XLI,98,100.709999,0.189928,0.600195,0.020713,0.017370,171.431593
5,XLK,76,130.169998,0.329504,-0.392265,0.009189,-0.017420,-172.336034
6,XLP,133,73.434998,0.149683,0.587185,0.036331,0.013411,130.983503
7,XLU,141,70.150002,0.200804,-0.399782,0.028125,-0.010831,-107.133104
8,XLV,74,133.850006,0.149030,0.620534,0.019568,0.014061,139.271868
9,XLY,71,139.259995,0.291937,-0.392299,0.009695,-0.015436,-152.618056

'df_positions_all'

,symbol,position,underlying,close,stdev,delta,gamma,unit_var,position_var
0,XLB_20231231_83_c,120,XLB,83.019997,0.248330,0.617133,0.018985,0.023310,232.221181
1,XLC_20231231_52_p,192,XLC,51.314999,0.278380,-0.403704,0.027804,-0.015171,-149.476200
2,XLE_20231231_90_c,111,XLE,90.339996,0.288100,0.620005,0.015004,0.027160,272.357877
3,XLF_20231231_36_p,278,XLF,35.470001,0.198528,-0.405091,0.056452,-0.010859,-107.075764
4,XLI_20231231_102_c,98,XLI,100.709999,0.189928,0.600195,0.020713,0.017370,171.431593
5,XLK_20231231_131_p,76,XLK,130.169998,0.329504,-0.392265,0.009189,-0.017420,-172.336034
6,XLP_20231231_75_c,133,XLP,73.434998,0.149683,0.587185,0.036331,0.013411,130.983503
7,XLU_20231231_71_p,141,XLU,70.150002,0.200804,-0.399782,0.028125,-0.010831,-107.133104
8,XLV_20231231_135_c,74,XLV,133.850006,0.149030,0.620534,0.019568,0.014061,139.271868
9,XLY_20231231_140_p,71,XLY,139.259995,0.291937,-0.392299,0.009695,-0.015436,-152.618056

'port_var'

399.92004426710946

'sp_dollar_equiv'

17190.89602762001

'df_atm_price'

  underlying       close     stdev
0        XLB   83.019997  0.248330
1        XLC   51.314999  0.278380
2        XLE   90.339996  0.288100
3        XLF   35.470001  0.198528
4        XLI  100.709999  0.189928
5        XLK  130.169998  0.329504
6        XLP   73.434998  0.149683
7        XLU   70.150002  0.200804
8        XLV  133.850006  0.149030
9        XLY  139.259995  0.291937

'df_std'

      stdev underlying
6  0.248330        XLB
1  0.278380        XLC
4  0.288100        XLE
9  0.198528        XLF
2  0.189928        XLI
5  0.329504        XLK
3  0.149683        XLP
0  0.200804        XLU
7  0.149030        XLV
8  0.291937        XLY

'df_corr'

,XLB,XLC,XLE,XLF,XLI,XLK,XLP,XLU,XLV,XLY
XLB,1.000000,0.790925,0.594861,0.880044,0.913572,0.846694,0.756672,0.685303,0.731867,0.802780
XLC,0.790925,1.000000,0.511143,0.824715,0.769675,0.888963,0.642145,0.526922,0.663401,0.829910
XLE,0.594861,0.511143,1.000000,0.566902,0.621798,0.554994,0.443415,0.273605,0.424061,0.543568
XLF,0.880044,0.824715,0.566902,1.000000,0.901233,0.862525,0.795026,0.722193,0.750130,0.835271
XLI,0.913572,0.769675,0.621798,0.901233,1.000000,0.836767,0.837602,0.737144,0.812471,0.786148
XLK,0.846694,0.888963,0.554994,0.862525,0.836767,1.000000,0.744042,0.679945,0.758574,0.892393
XLP,0.756672,0.642145,0.443415,0.795026,0.837602,0.744042,1.000000,0.736345,0.824008,0.659412
XLU,0.685303,0.526922,0.273605,0.722193,0.737144,0.679945,0.736345,1.000000,0.684509,0.675787
XLV,0.731867,0.663401,0.424061,0.750130,0.812471,0.758574,0.824008,0.684509,1.000000,0.668374
XLY,0.802780,0.829910,0.543568,0.835271,0.786148,0.892393,0.659412,0.675787,0.668374,1.000000

'df_corr_price'

,XLB,XLC,XLE,XLF,XLI,XLK,XLP,XLU,XLV,XLY
XLB,1.000000,0.881037,0.059956,0.817169,0.967866,0.764755,0.747955,0.678389,0.651620,0.380950
XLC,0.881037,1.000000,0.188472,0.883914,0.871031,0.749248,0.590583,0.552378,0.493444,0.520742
XLE,0.059956,0.188472,1.000000,0.485015,0.030711,0.226981,-0.355227,-0.498654,-0.484511,0.530309
XLF,0.817169,0.883914,0.485015,1.000000,0.818159,0.698913,0.462990,0.346755,0.302287,0.575427
XLI,0.967866,0.871031,0.030711,0.818159,1.000000,0.664161,0.791713,0.760290,0.669203,0.240933
XLK,0.764755,0.749248,0.226981,0.698913,0.664161,1.000000,0.562961,0.317659,0.556177,0.779965
XLP,0.747955,0.590583,-0.355227,0.462990,0.791713,0.562961,1.000000,0.859652,0.921138,0.052411
XLU,0.678389,0.552378,-0.498654,0.346755,0.760290,0.317659,0.859652,1.000000,0.803837,-0.206217
XLV,0.651620,0.493444,-0.484511,0.302287,0.669203,0.556177,0.921138,0.803837,1.000000,0.082106
XLY,0.380950,0.520742,0.530309,0.575427,0.240933,0.779965,0.052411,-0.206217,0.082106,1.000000

'df_high_low'

  symbol        d1        d5       d10       d15       d20
0    XLU  0.029195  0.061167  0.066355  0.080672  0.098579
1    XLC  0.034746  0.092892  0.112222  0.117380  0.125176
2    XLI  0.027329  0.060184  0.074448  0.077879  0.084702
3    XLP  0.022268  0.044778  0.052411  0.067609  0.077483
4    XLE  0.044061  0.086443  0.101660  0.112859  0.124026
5    XLK  0.042032  0.105566  0.126798  0.136392  0.141690
6    XLB  0.029126  0.082556  0.107884  0.109741  0.116166
7    XLV  0.023977  0.050506  0.058103  0.061716  0.073460
8    XLY  0.043077  0.100628  0.117582  0.136655  0.146329
9    XLF  0.028077  0.066614  0.078471  0.085742  0.092426